   <footer class="site-footer">
      <div class="main-footer container">

         <div class="footer-contact">
            <div class="footer-contact__container">
               <div class="footer-contact__logo-box">
                  <img src="/img/company-logo.png" alt="company logo" class="footer-contact__logo-img">
               </div>
               <div class="footer-contact__item">
                  <i class="footer-contact__phone-icon fas fa-phone"></i>
                  <div class="footer-contact__phone-text">1-456-789-1234</div>
               </div>
               <div class="footer-contact__item">
                  <i class="footer-contact__email-icon fas fa-envelope"></i>
                  <a href="mailto: example@eshop.com" class="footer-contact__email-text">example@eshop.com</a>
               </div>
            </div>
         </div>


         <div class="footer-nav">
            <div class="footer-nav__list-box">
               <h4 class="footer-nav__list-heading">eShop</h4>
               <ul class="footer-nav__list">
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Website</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Mobile App</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Pricing</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Feature</a>
                  </li>
               </ul>
            </div>

            <div class="footer-nav__list-box">
               <h4 class="footer-nav__list-heading">Company</h4>
               <ul class="footer-nav__list">
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">About Us</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Jobs</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Press</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Blog</a>
                  </li>
               </ul>
            </div>

            <div class="footer-nav__list-box">
               <h4 class="footer-nav__list-heading">Support</h4>
               <ul class="footer-nav__list">
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Contact Us</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Terms</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Privacy</a>
                  </li>
                  <li class="footer-nav__list-item">
                     <a href="#" class="footer-nav__list-link">Returns</a>
                  </li>
               </ul>
            </div>

         </div>


         <div class="footer-subscribe">
            <div class="footer-subscribe__container">
               <p class="footer-subscribe__paragraph">
                  Join our weekly newsletter to receive information on special offers, upcoming products and exclusive sales.
               </p>
               <form action="" class="footer-subscribe__form">
                  <label class="visually-hidden" for="footer-subscribe__form-input">Email</label>
                  <input type="text" class="footer-subscribe__form-input"  id="footer-subscribe__form-input" placeholder="example@gmail.com">
                  <button class="footer-subscribe__form-btn btn btn--red">Join</button>
               </form>
            </div>
            

         </div>

      </div>



   </footer>
   
   <script src="/scripts/dist/bundle.js"></script>
   </body>
</html>