<!-- ====================== HEADER NOTICE (BEGIN) ====================== -->
<div class="header-notice">
   <div class="header-notice__content">
      <p class="header-notice__text"></p>
      <i class="far fa-times-circle header-notice__close-icon"></i>
   </div>
</div>
