<!-- ====================== HEADER NOTICE (BEGIN) ====================== -->
<div class="header-notice">
   <div class="header-notice__content">
      <p class="header-notice__text"></p>
      <!-- Welcome to the eShop &#8212; a mockup e-commerce project site. Please have a look around. -->
      <i class="far fa-times-circle header-notice__close-icon"></i>
   </div>
</div>
