<!doctype html>
<html lang="en">
<head>
   <!-- === META === -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- === GOOGLE FONTS === -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

   <!-- === SHORTCUT LOGO === -->
   <link rel="shortcut icon" href="/img/company-logo-short.png" type="image/x-icon">

   <!-- === FONTAWESOME === -->
   <link href="/fontawesome/css/all.css" rel="stylesheet">

   <!-- === MAIN CSS === -->
   <link href="/stylesheets/css/main.css" rel="stylesheet">

   <!-- === TITLE === -->
   <title>eShop.com</title>
</head>
<body>
