<!-- ====================== SITE HEADER (BEGIN) ====================== -->
<header class="site-header">

   <!-- ====================== HEADER NOTICE (BEGIN) ====================== -->
   <div class="header-notice">
      <div class="header-notice__content">
         <ion-icon class="header-notice__alert-icon" name="md-alert"></ion-icon>
         <p class="header-notice__text">This is the <strong> Header Notice </strong>used for promotional or other important messages.</p>
         <ion-icon class="header-notice__close-icon"name="md-close"><ion-icon>
      </div>
   </div>

   <!-- ====================== MAIN HEADER (BEGIN) ====================== -->
   <div class="main-header">
      
      <!-- ====================== TOP HEADER (BEGIN) ====================== -->
      <div class="top-header container">

            <div class="logo">
               <img class="logo__img" src="/img/company-logo.png" alt="company logo" >
            </div>

            <form class="search-form">
               <input type="text" class="search-form__input" placeholder="Search our store" name="search-field">
               <button type="submit" class="btn btn--black search-form__btn"><ion-icon class="search-form__icon" name="search"></ion-icon>Search</button>
            </form>
            
            <div class="phone-support">
               <ion-icon class="phone-support__icon" name="call"></ion-icon>
               <div class="phone-support__text">
                  <span class="phone-support__question">Have questions?</span>
                  <span class="phone-support__number">Call: 456-789-1234</span>
               </div>

            </div>
      </div>

      <!-- ====================== NAV MENU BAR (BEGIN) ====================== -->
      <nav class="nav-menu-bar">
         <div class="nav-menu-bar__content container">
            <ul class="top-menu">
               <li class="top-menu__item top-menu__item--1">
                  <a href="#" class="top-menu__link btn btn--black ">
                     <ion-icon class="top-menu__icon" name="menu"></ion-icon>
                     Shop Categories
                  </a>
               </li>

               <li class="top-menu__item top-menu__item--2">
                  <a href="#" class="top-menu__link btn btn--red">
                     Home
                  </a>
               </li>

               <li class="top-menu__item top-menu__item--3">
                  <a href="#" class="top-menu__link btn btn--red">
                     Brands
                  </a>
               </li>

               <li class="top-menu__item top-menu__item--4">
                  <a href="#" class="top-menu__link btn btn--red">
                     Specials
                  </a>
               </li>
               <li class="top-menu__item top-menu__item--5">
                  <a href="#" class="top-menu__link btn btn--red">
                     Services
                  </a>
               </li>
            </ul>
            
            <div class="account-cart-wrapper">
               <a class="my-account btn btn--black">
                  <ion-icon class="my-account__icon" name="person"></ion-icon>
                  My Account
               </a>
   
               <a class="cart" href="#">
                  Cart
                  <ion-icon class="cart__icon" name="cart">
                  </ion-icon>
                  <div class="cart__counter">0</div>
               </a>

            </div>
         </div>
      </nav>
   </div>
</header>