<!-- ====================== SITE HEADER (BEGIN) ====================== -->
<header class="site-header">

   <!-- ====================== HEADER NOTICE (BEGIN) ====================== -->
   <div class="header-notice">
      <div class="header-notice__content">
         <i class="fas fa-exclamation-circle header-notice__alert-icon"></i>
         <p class="header-notice__text">This is the <strong> Header Notice </strong>used for promotional or other important messages.</p>
         <i class="fas fa-times header-notice__close-icon"></i>
      </div>
   </div>

   <!-- ====================== MAIN HEADER (BEGIN) ====================== -->
   <div class="main-header">
      
      <!-- ====================== TOP HEADER (BEGIN) ====================== -->
      <div class="top-header container">

            <div class="logo">
               <img class="logo__img" src="/img/company-logo.png" alt="company logo" >
            </div>

            <form class="search-form">
               <input type="text" class="search-form__input" placeholder="Search our store" name="search-field">
               <button type="submit" class="btn btn--black search-form__btn"><i class="fas fa-search search-form__icon"></i>Search</button>
            </form>
            
            <div class="phone-support">
                  <i class="fas fa-phone phone-support__icon"></i>
               <div class="phone-support__text">
                  <span class="phone-support__question">Have questions?</span>
                  <span class="phone-support__number">Call: 456-789-1234</span>
               </div>

            </div>
      </div>

      <!-- ====================== NAV MENU BAR (BEGIN) ====================== -->
      <nav class="nav-bar">
         <div class="nav-bar__content container">
            <div class="nav-bar__left">

                  <div class="main-menu">
                     <button href="#" class="main-menu__button btn btn--black ">
                           <i class="fas fa-bars main-menu__icon"></i>
                        Shop Categories
                     </button>

                     <div class="main-menu__dropdown">
                        <ul class="main-menu__list">

                           <li class="main-menu__item">
                              <a href="#" class="main-menu__link">
                                 <span class="main-menu__title">One</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                              <div class="submenu">
                                 This is the submenu
                              </div>
                           </li>

                           <li class="main-menu__item">
                              <a href="#" class="main-menu__link">
                                 <span class="main-menu__title">Two</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="#" class="main-menu__link">
                                 <span class="main-menu__title">Three</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                           
                           <li class="main-menu__item">
                              <a href="#" class="main-menu__link">
                                 <span class="main-menu__title">Four</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>

               <ul class="nav">
                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Home
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Brands
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Specials
                     </a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Services
                     </a>
                  </li>
               </ul>
            </div>
               
            <div class="nav-bar__right">
               <div class="account-cart-wrapper">
                  <a class="my-account btn btn--black">
                        <i class="far fa-user my-account__icon"></i>
                     My Account
                  </a>
      
                  <a class="cart" href="#">
                     Cart
                     <i class="fas fa-shopping-cart cart__icon"></i>
                     </ion-icon>
                     <div class="cart__counter">0</div>
                  </a>
               </div>
            </div>
               
         </div>
      </nav>
   </div>
</header>