<!-- ====================== SITE HEADER (BEGIN) ====================== -->
<header class="site-header">

   <!-- ====================== HEADER NOTICE (BEGIN) ====================== -->
   <div class="header-notice">
      <div class="header-notice__content">
         <p class="header-notice__text">This is the <strong> Header Notice </strong>used for promotional or other important messages.</p>
         <i class="far fa-times-circle header-notice__close-icon"></i>
      </div>
   </div>

   <!-- ====================== MAIN HEADER (BEGIN) ====================== -->
   <div class="main-header">
      
      <!-- ====================== TOP HEADER (BEGIN) ====================== -->
      <div class="top-header container">

            <div class="logo">
               <a href="/" class="logo__link">
                  <img class="logo__img" src="/img/company-logo.png" alt="company logo" >
               </a>
            </div>

            <form class="search-form" method="GET" action="/results">
               <input class="search-form__input" type="text" placeholder="Search our store" name="search" required="true">
               <button class="btn btn--black search-form__btn"><i class="fas fa-search search-form__icon"></i>Search</button>
            </form>
            
            <div class="phone-support">
                  <i class="fas fa-phone phone-support__icon"></i>
               <div class="phone-support__text">
                  <span class="phone-support__question">Have questions?</span>
                  <span class="phone-support__number">Call: 456-789-1234</span>
               </div>
            </div>
      </div>

      <!-- ====================== NAV MENU BAR (BEGIN) ====================== -->
      <nav class="nav-bar">
         <div class="nav-bar__content container">
            <div class="nav-bar__left">

                  <div class="main-menu">
                     <button href="#" class="main-menu__btn btn btn--black ">
                           <i class="fas fa-bars main-menu__icon"></i>
                        Shop Categories
                     </button>

                     <div class="main-menu__dropdown">
                        <ul class="main-menu__list">

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0100000" class="main-menu__link">
                                 <i class="fas fa-tv main-menu__item-icon"></i>
                                 <span class="main-menu__title">TV & Home Theater</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                  
                              <!-- <div class="submenu submenu--${mainCatNum}">
                                 <ul class="submenu__list">
                                    <li class="submenu__item submenu__item--${i}">
                                       <a class="submenu__link" href="/results?cat-search=${subCatsObj[i].id}">
                                          <span class="submenu__title">
                                          
                                          </span>
                                       </a>
                                    </li>
                                 </ul>
                              </div> -->

                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0200000" class="main-menu__link">
                                 <i class="fas fa-headphones main-menu__item-icon"></i>
                                 <span class="main-menu__title">Audio</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0300000" class="main-menu__link">
                                 <i class="fas fa-car-alt main-menu__item-icon"></i>
                                 <span class="main-menu__title">Car Electronics & GPS</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                           
                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0400000" class="main-menu__link">
                                 <i class="fas fa-camera main-menu__item-icon"></i>
                                 <span class="main-menu__title">Cameras & Camcorders</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0500000" class="main-menu__link">
                                 <i class="fas fa-laptop main-menu__item-icon"></i>
                                 <span class="main-menu__title">Computers & Tablets</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0600000" class="main-menu__link">
                                 <i class="far fa-play-circle main-menu__item-icon"></i>
                                 <span class="main-menu__title">Movies & Music</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0700000" class="main-menu__link">
                                 <i class="fas fa-gamepad main-menu__item-icon"></i>
                                 <span class="main-menu__title">Video Games</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                           
                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0800000" class="main-menu__link">
                                 <i class="fas fa-print main-menu__item-icon"></i>
                                 <span class="main-menu__title">Office</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a href="/results?categoryPath.id=abcat0900000" class="main-menu__link">
                                 <i class="fas fa-blender-phone main-menu__item-icon"></i>
                                 <span class="main-menu__title">Appliances</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                        </ul>
                     </div>
                  </div>

               <ul class="nav">
                  <li class="nav__item">
                     <a href="/" class="nav__link btn btn--red">
                        Home
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Brands
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Specials
                     </a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Services
                     </a>
                  </li>
               </ul>
            </div>
               
            <div class="nav-bar__right">
               <div class="account-cart-wrapper">
                  <a class="account-btn btn btn--black" href="/login">
                     <i class="far fa-user account-btn__icon"></i>
                     Account
                  </a>
      
                  <a class="cart-link" href="/cart">
                     Cart
                     <i class="fas fa-shopping-cart cart-link__icon"></i>
                     </ion-icon>
                     <div class="cart-link__counter">0</div>
                  </a>
               </div>
            </div>
               
         </div>
      </nav>
   </div>
</header>