<!-- ====================== SITE HEADER (BEGIN) ====================== -->
<header class="site-header">

   <!-- ====================== MAIN HEADER (BEGIN) ====================== -->
   <div class="main-header">
      
      <!-- ====================== TOP HEADER (BEGIN) ====================== -->
      <div class="top-header container">

            <div class="logo">
               <a href="/" class="logo__link">
                  <img class="logo__img" src="/img/company-logo.png" alt="company logo" >
               </a>
            </div>

            <form class="search-form" method="GET" action="/results">
               <input class="search-form__input" type="text" placeholder="Search our store" name="search" required="true">
               <button class="btn btn--black search-form__btn"><i class="fas fa-search search-form__icon"></i>Search</button>
            </form>
            
            <div class="phone-support">
                  <i class="fas fa-phone phone-support__icon"></i>
               <div class="phone-support__text">
                  <span class="phone-support__question">Have questions?</span>
                  <span class="phone-support__number">Call: 456-789-1234</span>
               </div>
            </div>
      </div>

      <!-- ====================== NAV MENU BAR (BEGIN) ====================== -->
      <nav class="nav-bar">
         <div class="nav-bar__content container">
            <div class="nav-bar__left">

                  <div class="main-menu">
                     <button href="#" class="main-menu__btn btn btn--black ">
                        <i class="fas fa-bars main-menu__icon"></i>
                        <i class="fas fa-shopping-basket main-menu__icon"></i>
                        <span class="main-menu__btn-text--1">Shop Categories</span>
                        <span class="main-menu__btn-text--2">Shop</span> 
                     </button>

                     <div class="main-menu__dropdown">
                       

                        
                        <ul class="main-menu__list">
                           <div class="main-menu__header">
                              <div class="main-menu__header-text">Shopping Categories</div>
                              <i class="fas fa-times main-menu__header-icon"></i>

                           </div>
                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-tv main-menu__item-icon"></i>
                                 <span class="main-menu__title">TV & Home Theater</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-headphones main-menu__item-icon"></i>
                                 <span class="main-menu__title">Audio</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-car-alt main-menu__item-icon"></i>
                                 <span class="main-menu__title">Car Electronics & GPS</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                           
                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-camera main-menu__item-icon"></i>
                                 <span class="main-menu__title">Cameras & Camcorders</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-laptop main-menu__item-icon"></i>
                                 <span class="main-menu__title">Computers & Tablets</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-play-circle main-menu__item-icon"></i>
                                 <span class="main-menu__title">Movies & Music</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-gamepad main-menu__item-icon"></i>
                                 <span class="main-menu__title">Gaming</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>
                           
                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-print main-menu__item-icon"></i>
                                 <span class="main-menu__title">Office</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                           <li class="main-menu__item">
                              <a class="main-menu__link">
                                 <i class="fas fa-blender-phone main-menu__item-icon"></i>
                                 <span class="main-menu__title">Appliances</span>
                                 <i class="fas fa-chevron-down main-menu__item-arrow"></i>
                              </a>
                           </li>

                        </ul>
                     </div>
                  </div>

               <ul class="nav">
                  <li class="nav__item">
                     <a href="/" class="nav__link btn btn--red">
                        Home
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Brands
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Specials
                     </a>
                  </li>
                  <li class="nav__item">
                     <a href="#" class="nav__link btn btn--red">
                        Services
                     </a>
                  </li>
               </ul>
            </div>
               
            <div class="nav-bar__right">
               <div class="account-cart-wrapper">
                  <% if (typeof user != 'undefined') { %>
                     <button class="account-btn btn btn--black">
                        <i class="fas fa-user account-btn__icon"></i>
                        Hello,&nbsp <span class="account-btn__firstname"> <%= user.first_name %></span>
                     </button>

                     <div class="account-menu__dropdown">
                        <ul class="account-menu__list">

                           <li class="account-menu__item">
                              <a href="/cart" class="account-menu__link--shopping-cart account-menu__link">
                                 <i class="fas fa-shopping-cart account-menu__item-icon"></i>
                                 <span class="account-menu__title">Shopping Cart</span>
                              </a>
                           </li>

                           <li class="account-menu__item">
                              <a href="/results/likes" class="account-menu__link--liked-items account-menu__link">
                                 <i class="fas fa-heart account-menu__item-icon"></i>
                                 <span class="account-menu__title">Liked Items</span>
                              </a>
                           </li>

                           <li class="account-menu__item">
                              <a href="/user/account/<%= user.id %>" class="account-menu__link--account-info account-menu__link">
                                 <i class="fas fa-info-circle account-menu__item-icon"></i>
                                 <span class="account-menu__title">Account Info</span>
                              </a>
                           </li>
                           
                           <li class="account-menu__item">
                              <a href="/user/logout/" class="account-menu__link--logout account-menu__link">
                                 <i class="fas fa-sign-out-alt account-menu__item-icon"></i>
                                 <span class="account-menu__title">LOGOUT</span>
                              </a>
                           </li>
                        </ul>
                     </div>

                  <% } else { %>
                     <a class="login-btn btn btn--black" href="/user/login">
                        <i class="fas fa-sign-in-alt login-btn__icon"></i>
                        <span class="login-btn__text">Login</span>
                     </a>
                     <a class="register-btn btn btn--black" href="/user/register">
                        <i class="fas fa-user-plus register-btn__icon"></i>
                        <span class="register-btn__text">Register</span>
                     </a>
                  <% } %>
                  
                  <a class="cart-link">
                     <i class="fas fa-shopping-cart cart-link__icon"></i>
                     </ion-icon>
                     <div class="cart-link__counter"></div>
                  </a>
               </div>
            </div>
               
         </div>
      </nav>
   </div>
</header>