<main class="main">
   <div class="shadow-overlay"></div>

   <section class="landing-section">

      <div class="promotion">
         <div class="promotion__header-box">
            <h1 class="promotion__main-header">Music Where You Want It</h1>
            <p class="promotion__sub-header">Beats by Dr. Dre, Sony, Apple and Bose.</p>
         </div>

         <a href="/results?categoryPath.id=abcat0204000" class="promotion__btn btn btn--red btn--animated">Shop Headphones</a>

      </div>

      
      <div class="landing-section__background"></div>
   </section>   
   
      
      
   
