<div class="landing">

   <div class="promotion">
      <div class="promotion__header-box">
         <h1 class="promotion__main-header animate--move-in-left">Music Where You Want It</h1>
         <p class="promotion__sub-header animate--move-in-right">Beats by Dr. Dre, Sony, Apple and Bose.</p>
      </div>

      <a href="/results?categoryPath.id=abcat0204000" class="promotion__btn btn btn--red btn btn--hover-float btn--animated">Shop Headphones</a>
   </div>

   <div class="landing__background"></div>
</div>   
   
      
      
   
