<main class="main">
   <div class="shadow-overlay"></div>

   <section class="landing-section">

      <div class="promotion">
         <div class="promotion__header-box">
            <h1 class="promotion__main-header">Versatile Laptops</h1>
            <p class="promotion__sub-header">Huge selection from top brands.</p>
         </div>

         <a href="/results?categoryPath.id=abcat0502000" class="promotion__btn btn btn--red btn--animated" id="smart-watch">Shop Laptops</a>

      </div>

      
      <div class="landing-section__background"></div>
   </section>   
   
      
      
   
