<main class="main">
   <div class="shadow-overlay"></div>
   <section class="container">
      <div class="grid-primary-wrapper">

         <div class="grid-primary">
   
            <div class="grid-primary__item grid-primary__item--lg">
               <div class="grid-primary__slider">

                  <div class="prom-primary">
                     <div class="prom-primary__title prom-head-primary">
                        Discover Surface Pro
                     </div>
                     <div class="prom-primary__subtitle">
                        Check out exclusive offers
                     </div>
                     <a class="prom-primary__button btn btn--black" href="#">Shop Now</a>
                  </div>

               </div>
            </div>

            <div class="grid-primary__item grid-primary__item--sm-top">
               <a class="prom-secondary" href="#">
                  <div class="prom-head-secondary">25% Off Select Phones</div>
               </a>
            </div>

            <div class="grid-primary__item grid-primary__item--sm-bottom">
               <a class="prom-secondary" href="#">
                  <div class="prom-head-secondary">Save on Audio This Month</div>
               </a>
            </div>

         </div>
      </div>
   </section>
