   <div class="service-bar">
      <div class="service-bar__content container">

         <div class="service-feature">

            <div class="service-feature__icon-wrap">
               <i class="fas fa-shipping-fast service-feature__icon"></i>
            </div>

            <div class="service-feature__text">
               <span class="service-feature__title">Free Shipping</span>
               <span class="service-feature__subtitle">Free delivery over $50</span>
            </div>
            
         </div>

         <div class="service-feature">

            <div class="service-feature__icon-wrap">
               <i class="fas fa-undo-alt service-feature__icon"></i>
            </div>

            <div class="service-feature__text">
               <span class="service-feature__title">Free Returns</span>
               <span class="service-feature__subtitle">Hassle free returns</span>
            </div>
            
         </div>

         <div class="service-feature">

            <div class="service-feature__icon-wrap">
               <i class="fas fa-headset service-feature__icon"></i>
            </div>

            <div class="service-feature__text">
               <span class="service-feature__title">Customer Support</span>
               <span class="service-feature__subtitle">We're here to help</span>
            </div>
            
         </div>

         <div class="service-feature">

            <div class="service-feature__icon-wrap">
               <i class="fas fa-search-dollar service-feature__icon"></i>
            </div>

            <div class="service-feature__text">
               <span class="service-feature__title">Lowest Prices</span>
               <span class="service-feature__subtitle">Get more for less</span>
            </div>
            
         </div>
      </div>
   </div>

