<% include partials/head %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<h1 class="test">WELCOME TO THE ACCOUNT PAGES</h1>

<% include partials/footer %>