<% include partials/head %>
<% include partials/header-notice %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="cart-section">
         <div class="page-header">
            <h1 class="page-header__title">Shopping Cart</h1>
         </div>

         <div class="cart-section__main">
            <div class="cart">
            </div>

            <div class="cart-summary">
               <div class="cart-summary__box">
                  <div class="cart-summary__header">
                     <h2 class="cart-summary__title">Summary</h2>
                  </div>
                  <div class="cart-summary__content">
                     <div class="cart-summary__subtotal-wrap">
                        <div class="cart-summary__subtotal-text">
                           Subtotal:
                        </div>
                        <div class="cart-summary__subtotal-amount">
                           $<span class="cart-summary__subtotal-number">0.00</span>
                        </div>
                     </div>
                     <div class="cart-summary__tax-wrap">
                        <div class="cart-summary__tax-text">
                           Taxes:
                        </div>
                        <div class="cart-summary__tax-amount">
                           $<span class="cart-summary__tax-number">0.00</span>
                        </div>
                     </div>
                     <div class="cart-summary__shipping-wrap">
                        <div class="cart-summary__shipping-text">
                           Shipping:
                        </div>
                        <div class="cart-summary__shipping-amount">
                           $<span class="cart-summary__shipping-number">0.00</span>
                        </div>
                     </div>
                     <div class="cart-summary__total-wrap">
                        <div class="cart-summary__total-text">
                           Total:
                        </div>
                        <div class="cart-summary__total-amount">
                           $<span class="cart-summary__total-number">0.00</span>
                        </div>
                     </div>
                  </div>

                  <div class="cart-summary__btns-wrap">
                     <a class="cart-summary__shop-btn btn btn--black" href="/">
                        Continue Shopping
                     </a>
                     <a class="cart-summary__checkout-btn btn btn--red" href="#">
                        Checkout
                     </a>
                  </div>
                  
               </div>
            </div>

         </div>

      </section>
   </div>
</main>


<% include partials/footer %>
