<% include partials/head %>
<% include partials/header-notice %>


<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay"></div>

   <% include partials/landing %>
   <% include partials/service-bar %>

   <div class="categories-feature">
      <div class="categories-feature__header prom-head-primary">Featured categories</div>

      <div class="categories-feature__container">
         <a href="/results?categoryPath.id=abcat0809000" class="category-thumb category-thumb--1">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-furniture.jpg" class="category-thumb__img" alt="office furniture category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Office Furniture</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0204000" class="category-thumb category-thumb--2">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-headphones.jpg" class="category-thumb__img" alt="headphones category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Headphones</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0700000" class="category-thumb category-thumb--3">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-gaming.jpg" class="category-thumb__img" alt="gaming category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Gaming</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0401000" class="category-thumb category-thumb--4">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-cameras.jpg" class="category-thumb__img" alt="digital cameras category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Digital Cameras</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0502000" class="category-thumb category-thumb--5">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-laptops.jpg" class="category-thumb__img" alt="laptops category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Laptops</span>  
            </div>
         </a>




         <a href="/results?categoryPath.id=cat02015" class="category-thumb category-thumb--6">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-movies.jpg" class="category-thumb__img" alt="movies and TV shows category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Movies & TV Shows</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0900000" class="category-thumb category-thumb--7">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-appliances.jpg" class="category-thumb__img" alt="appliances category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Appliances</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0302000" class="category-thumb category-thumb--8">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-audio.jpg" class="category-thumb__img" alt="car audio category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">Car Audio</span>  
            </div>
         </a>

         <a href="/results?categoryPath.id=abcat0101000" class="category-thumb category-thumb--9">
            <div class="category-thumb__side category-thumb__side--front">
               <img src="img/cat-tvs.jpg" class="category-thumb__img" alt="TVs category">
            </div>

            <div class="category-thumb__side category-thumb__side--back">
               <span class="category-thumb__title">TVs</span>  
            </div>
         </a>

      </div>
   </div>

</main>

<% include partials/footer %>

