<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">

      <section class="results">
         <div class="results__sidebar">
            Sidebar
         </div>
         <div class="results__header">
            Header
         </div>
         <div class="results__main">
            <div class="results__main-grid">

               <!-- <div class="product-thumb">
                  <a class="product-thumb__top-content" href="#">
                     <img src="${product.image}" alt="${product.name}" class="product-thumb__img">
                  </a>
            
                  <div class="product-thumb__middle-content">
                     <div class="product-thumb__desc-wrap">
                        <a href="#" class="product-thumb__title">${product.name}</a>
                     </div>

                     <div class="product-thumb__review-wrap">
                        <div class="product-thumb__review-stars">
                           <i class="product-thumb__review-icon fas fa-star"></i>
                           <i class="product-thumb__review-icon fas fa-star"></i>
                           <i class="product-thumb__review-icon fas fa-star"></i>
                           <i class="product-thumb__review-icon fas fa-star"></i>
                           <i class="product-thumb__review-icon product-thumb__review-icon--empty far fa-star"></i>
                        </div>
                        <div class="product-thumb__review-number">
                           1,234
                        </div>
                     </div>
                  </div>
            
                  <div class="product-thumb__bottom-content">
                     <div class="product-thumb__price">$${product.regularPrice}</div>
                     <div class="product-thumb__btn-wrap">
                        <button class="product-thumb__btn btn btn--small btn--black">
                           <i class="product-thumb__cart-icon fas fa-shopping-cart"></i>
                           Add to Cart
                        </button>
                        <button class="product-thumb__btn btn btn--small btn--black">
                           <i class="product-thumb__heart-icon far fa-heart"></i>
                        </button>
                     </div>
                  </div>
               </div> -->

            </div>
         </div>
      </section>

   </div>
</main>



<% include partials/footer %>
