<% include partials/header %>
<!-- ==================================== -->

<h1>Let's learn Webpack 2</h1>
<button id="secret-button">Show the Secret</button>
<p id="secret-paragraph">You can't see this all the time</p>

<a href="/campgrounds">View all campgrounds!</a>

<script src="/scripts/dist/bundle.js"></script>

<!-- ==================================== -->
<% include partials/footer %>

