<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">

      <section class="results">
         <div class="results__sidebar">
            Sidebar
         </div>
         <div class="results__header">
            Header
         </div>
         <div class="results__main">
            <div class="results__main-grid">

               <!-- <div class="product-thumb">
                  <a href="#" class="product-thumb__img-wrap">
                     <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6363/6363029_sd.jpg" alt="" class="product-thumb__img">
                  </a>

                  <div class="product-thumb__btn-wrap">
                     <button class="product-thumb__btn btn btn--small btn--black">
                        <i class="product-thumb__cart-icon fas fa-shopping-cart"></i>
                        Add to Cart
                     </button>
                     <button class="product-thumb__btn btn btn--small btn--black">
                        <i class="product-thumb__heart-icon far fa-heart"></i>
                     </button>
                  </div>
                  
                  <div class="product-thumb__desc-wrap">
                     <div class="product-thumb__review-wrap">
                        <i class="product-thumb__review-icon fas fa-star"></i>
                        <i class="product-thumb__review-icon fas fa-star"></i>
                        <i class="product-thumb__review-icon fas fa-star"></i>
                        <i class="product-thumb__review-icon fas fa-star"></i>
                        <i class="product-thumb__review-icon product-thumb__review-icon--empty far fa-star"></i>
                     </div>
                     <a href="#" class="product-thumb__title">Product Title</a>
                     <div class="product-thumb__price">$29.99</div>
                  </div> 
               </div>

               <div class="product-thumb">
                  Two
               </div>
               <div class="product-thumb">
                  Three
               </div>
               <div class="product-thumb">
                  Four
               </div>
               <div class="product-thumb">
                  Four
               </div> -->

            </div>
         </div>
      </section>

   </div>
</main>



<% include partials/footer %>
