<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="account-section">
         <div class="page-header">
            <h1 class="page-header__title">Account Sign In</h1>
         </div>

         <div class="form-container">
            <form class="sign-in__form form" method="POST" action="/login">
               <input type="email" class="sign-in__email-input input" name="username" placeholder="email">
               <input type="password" class="sign-in__password-input input" name="password" placeholder="password">
               <button class="sign-in__btn btn btn--red btn--hover-float">Sign In</button>

               <div class="sign-in__sub-container">
                  <p class="sign-up__paragraph">New customer? <a class="sign-up__link" href="/register">Start here.</a></p>
               </div>
            </form>

            

         
         </div>
            

      </section>
   </div>
</main>

<% include partials/footer %>