<% include partials/head %>
<% include partials/header-notice %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="product-section">

         <div class="page-header">
            <h2 class="page-header__title product__title">Canon - EOS-1D X Mark II DSLR Camera (Body Only) - Black</h2>
            <div class="page-header__info-box">
               <div class="product-header__manufacturer-info">
                  <span class="product-header__manufacturer-title product-header__subtitle">Manufacturer:</span>
                  <span class="product-header__manufacturer-data">Canon</span>
               </div>
               <div class="page-header__model-info">
                  <span class="product-header__model-title product-header__subtitle">Model:</span>
                  <span class="product-header__model-data">0931C002</span>
               </div>
               <div class="page-header__sku-info">
                  <span class="product-header__sku-title product-header__subtitle">SKU:</span>
                  <span class="product-header__sku-data">4963303</span>
               </div>
            </div>
         </div>

         <div class="product-section__main">
            <div class="product-gallery__box">

               <div class="product-gallery__img-wrap">
                  <a href="" class="product-gallery__img-link">
                     <img src="" alt="" class="product-gallery__main-img">
                  </a>
               </div>

               <div class="product-gallery__thumbs-box">
               </div>
            </div>

            <div class="product-info__box">

               <ul class="product-info__nav-tabs">
                  <li class="product-info__nav-item product-info__nav-item--1 product-info__nav-item--active">
                     <span class="product-info__nav-title">Description</span>
                  </li>

                  <li class="product-info__nav-item product-info__nav-item--2">
                     <span class="product-info__nav-title">Features</span>
                  </li>

                  <li class="product-info__nav-item--break">
                  </li>

                  <li class="product-info__nav-item product-info__nav-item--3">
                     <span class="product-info__nav-title">What's Included</span>
                  </li>
                  <li class="product-info__nav-item product-info__nav-item--4">
                     <span class="product-info__nav-title">Specifications</span>
                  </li>
               </ul>



               <div class="product-info__nav-content-main">

<!-- ============================================================================== -->
                  <div class="product-info__nav-content product-info__nav-content--1">

                     
                  </div>

<!-- ============================================================================== -->      

                  <div class="product-info__nav-content product-info__nav-content--2">


                  </div>

<!-- ============================================================================== -->

                  <div class="product-info__nav-content product-info__nav-content--3">


                  </div>

<!-- ============================================================================== -->
                  
                  <div class="product-info__nav-content product-info__nav-content--4">
                     

                  </div>
                  

               </div>

<!-- ============================================================================== -->
<!-- ============================================================================== -->

               <div class="product-info__user-review-box">
                  <div class="product-info__review-wrap">
                     <div class="product-info__review-stars">
                        
                     </div>

                     <div class="product-info__review-text">
                        Based on <span class="product-info__review-count"></span> reviews
                     </div>
                  </div> 
               </div>

               <div class="product-info__user-action-box">
                  <div class="quantity-calc__wrap">
                     <label for="quantity-calc__input" class="visually-hidden">Item quantity</label>
                     <input type="text" class="quantity-calc__input" id="quantity-calc__input" name="quantity" value="1" maxlength="1" minlength="1">
                     <span class="quantity-calc__btns">
                        <div class="quantity-calc__up-btn">
                           <i class="fas fa-angle-up"></i>
                        </div>
                        <div class="quantity-calc__down-btn">
                           <i class="fas fa-angle-down"></i>
                        </div>
                     </span>
                  </div>

                  <div class="product-info__total-wrap">
                     <span class="product-info__total-currency">$</span>
                     <span class="product-info__total-price">899.99</span>
                  </div>

                  <button class="product-info__cart-btn btn btn--black"> 
                     <i class="product-info__cart-icon fas fa-shopping-cart"></i>
                     <span class="product-info__cart-btn-text">Add to Cart</span>
                  </button>
               </div>

            </div>
         </div>

      </section>
   </div>
</main>

<% include partials/footer %>
