<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="product">
         This will be the product page!

      </section>
   </div>
</main>

<% include partials/footer %>
