<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="product">

         <div class="product__header">
            <h2 class="product-header__title">Canon - EOS-1D X Mark II DSLR Camera (Body Only) - Black</h2>
            <div class="product-header__info-box">
               <div class="product-header__manufacturer-info">
                  <span class="product-header__manufacturer-title product-header__subtitle">Manufacturer:</span>
                  <span class="product-header__manufacturer-data">Canon</span>
               </div>
               <div class="product-header__model-info">
                  <span class="product-header__model-title product-header__subtitle">Model:</span>
                  <span class="product-header__model-data">0931C002</span>
               </div>
               <div class="product-header__sku-info">
                  <span class="product-header__sku-title product-header__subtitle">SKU:</span>
                  <span class="product-header__sku-data">4963303</span>
               </div>
            </div>
         </div>

         <div class="product__main">
            <div class="product-gallery__box">

               <div class="product-gallery__img-wrap">
                  <div class="product-gallery__img-inner-wrap">
                     <img src="" alt="" class="product-gallery__main-img">
                  </div>
               </div>

               <div class="product-gallery__thumbs-box">

                  <!-- <div class="product-gallery__thumb-wrap">
                     <div class="product-gallery__inner-thumb-wrap">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5091/5091315_sd.jpg" alt="" class="product-gallery__thumb-img">
                     </div>
                  </div> 
                     
                  <div class="product-gallery__thumb-wrap">
                     <div class="product-gallery__inner-thumb-wrap">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5091/5091315cv11d.jpg" alt="" class="product-gallery__thumb-img">
                     </div>
                  </div>

                  <div class="product-gallery__thumb-wrap">
                     <div class="product-gallery__inner-thumb-wrap">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5091/5091315_bd.jpg" alt="" class="product-gallery__thumb-img">
                     </div>
                  </div>
                  
                  <div class="product-gallery__thumb-wrap">
                     <div class="product-gallery__inner-thumb-wrap">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5091/5091315ld.jpg" alt="" class="product-gallery__thumb-img">
                     </div>
                  </div> -->
               </div>
            </div>

            <div class="product-info__box">

               <ul class="product-info__nav-tabs">
                  <li class="product-info__nav-item product-info__nav-item--1 product-info__nav-item--active">
                     <span class="product-info__nav-title">Description</span>
                  </li>
                  <li class="product-info__nav-item product-info__nav-item--2">
                     <span class="product-info__nav-title">Features</span>
                  </li>
                  <li class="product-info__nav-item product-info__nav-item--3">
                     <span class="product-info__nav-title">What's Included</span>
                  </li>
                  <li class="product-info__nav-item product-info__nav-item--4">
                     <span class="product-info__nav-title">Specifications</span>
                  </li>
               </ul>



               <div class="product-info__nav-content-main">

<!-- ============================================================================== -->
                  <div class="product-info__nav-content product-info__nav-content--1">

                     <!-- <div class="product-info__description">
                        <p class="product-info__description-p">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt exercitationem ea assumenda natus eveniet voluptates consectetur dicta ipsam minima rem ut possimus nesciunt, quae officiis quas voluptatum! Maxime, impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae amet debitis minima modi dolorem error numquam, tempora suscipit animi, pariatur tempore voluptatem sunt repudiandae nostrum aperiam. Nisi ad eligendi odio!
                        </p>
                     </div> -->

                  </div>

<!-- ============================================================================== -->      

                  <div class="product-info__nav-content product-info__nav-content--2">

                     <!-- <ul class="product-info__features">
                        <li class="product-info__features-item">
                           <h4 class="product-info__features-title">Google Chrome OS</h4>
                           <p class="product-info__features-text">
                              Chrome OS is the speedy, simple and secure OS that powers every Chromebook. Chrome OS updates automatically every 6 weeks with the latest software and virus protection.
                           </p>
                        </li>

                        <li class="product-info__features-item">
                           <h4 class="product-info__features-title">11.6" display</h4>
                           <p class="product-info__features-text">
                              Typical 1366 x 768 HD resolution. Energy-efficient LED backlight.
                           </p>
                        </li>

                        <li class="product-info__features-item">
                           <h4 class="product-info__features-title">Intel® Celeron® processor N3060</h4>
                           <p class="product-info__features-text">
                              Entry-level dual-core processor for general e-mail, Internet and productivity tasks.
                           </p>
                        </li>
                     </ul> -->

                  </div>

<!-- ============================================================================== -->

                  <div class="product-info__nav-content product-info__nav-content--3">

                     <!-- <ul class="product-info__included">
                        <li class="product-info__included-item">
                           <h4 class="product-info__included-title">Dell Chromebook 11 3181</h4>
                        </li>
                        <li class="product-info__included-item">
                           <h4 class="product-info__included-title">3-cell battery</h4>
                        </li>
                        <li class="product-info__included-item">
                           <h4 class="product-info__included-title">Power adapter</h4>
                        </li>
                     </ul> -->

                  </div>

<!-- ============================================================================== -->
                  
                  <div class="product-info__nav-content product-info__nav-content--4">
                     
                     <!-- <div class="product-info__specifications">
                        <ul class="product-info__specifications-titles">
                           <li class="product-info__specifications-item">
                              <h4 class="product-info__specifications-title">Product Height:</h4>
                           </li>
                        </ul>

                        <ul class="product-info__specifications-values">
                           <li class="product-info__specifications-item">
                              <p class="product-info__specifications-text">0.8 inche and then some more text that might overflow</p>
                           </li>
                        </ul>
                     </div> -->

                  </div>
                  

               </div>

<!-- ============================================================================== -->
<!-- ============================================================================== -->

               <div class="product-info__user-review-box">
                  <div class="product-info__review-wrap">
                     <div class="product-info__review-stars">
                        <!-- <i class="product-info__review-icon fas fa-star"></i>
                        <i class="product-info__review-icon fas fa-star"></i>
                        <i class="product-info__review-icon fas fa-star"></i>
                        <i class="product-info__review-icon fas fa-star"></i>
                        <i class="product-info__review-icon product-info__review-icon--empty far fa-star"></i> -->
                     </div>

                     <div class="product-info__review-text">
                        Based on <span class="product-info__review-count"></span> reviews
                     </div>
                  </div> 
               </div>

               <div class="product-info__user-action-box">
                  <div class="product-info__quantity-wrap">
                     <input type="text" class="product-info__quantity-input" name="quantity" value="1" maxlength="1" minlength="1">
                     <span class="product-info__quantity-btns">
                        <div class="product-info__up-btn">
                           <i class="fas fa-angle-up"></i>
                        </div>
                        <div class="product-info__down-btn">
                           <i class="fas fa-angle-down"></i>
                        </div>
                     </span>
                  </div>

                  <div class="product-info__total-wrap">
                     <span class="product-info__total-currency">$</span>
                     <span class="product-info__total-price">899.99</span>
                  </div>

                  <a href="" class="product-info__cart-btn btn btn--black"> 
                     <i class="product-info__cart-icon fas fa-shopping-cart"></i> ADD TO CART
                  </a>
                  <a href="" class="product-info__fav-btn btn btn--black">
                     <i class="product-info__fav-icon far fa-heart"></i> SAVE
                  </a>
               </div>



            </div>

         </div>

         

      </section>
   </div>
</main>

<% include partials/footer %>
