<% include partials/head %>
<% include partials/header %>

<main class="main">
   <div class="shadow-overlay"></div>

   <div class="container">
      <section class="login-section">
         <div class="page-header">
            <h1 class="page-header__title">Register</h1>
         </div>

         <% if (typeof errorMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--error"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= errorMsg %></h3>
         <% } %>
   
         <% if (typeof successMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--success"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= successMsg %></h3>
         <% } %>

         <div class="register-section__content">

            <div class="form-container">
               <form class="sign-up__form form" method="POST" action="/user/register">
                  <h2 class="sign-up__title form__title">New Account Information</h2>
   
                  <div class="form__content">
                     <div class="sign-up__sub-container form-sub-container">
                        <label for="firstName">First Name</label>
                        <input type="text" class="sign-up__first-name-input input" name="firstName" required>
         
                        <label for="lastName">Last Name</label>
                        <input type="text" class="sign-up__last-name-input input" name="lastName" required>
                        
                        <label for="username">Email Address</label>
                        <input type="email" class="sign-up__email-input input" name="newUsername" required>
                     </div>
                     
                     <div class="sign-up__sub-container form-sub-container">
                        <label for="password">Password</label>
                        <input type="password" class="sign-up__password-input input" name="newPassword" required>
         
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="sign-up__confirm-password-input input" name="confirmPassword" required>
         
                        <input type="submit" class="sign-up__btn btn btn--red btn--hover-float" value="Create Account">
                     </div>
   
                  </div>
                     
   
               </form>
            </div>


         </div>

      </section>
   </div>
</main>


<% include partials/footer %>