<% include partials/head %>
<% include partials/header-notice %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">

      <section class="results-section">
         
         <div class="results-section__main">
            <div class="results-section__main-grid">

               <!-- This is where dynamically created product thumb HTML goes -->

            </div>
         </div>

         <div class="results-section__footer">
            <div class="results-section__item-count">
               <!-- 1-20 of 100 total items -->
            </div>
            <div class="results-section__page-buttons">

               <!-- 
               <button class="btn btn--small results__btn--next" data-goto="${type === 'prev' ? page - 1 : page + 1}">
                  <span>Page ${type === 'prev' ? page - 1 : page + 1}</span>
               </button> 
               -->

            </div>
         </div>
      </section>

   </div>
</main>



<% include partials/footer %>
