/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 62.5em) {
    html {
      font-size: 46.875%; } }

body {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.animate--move-in-left {
  animation: moveInLeft 1s ease-out; }

.animate--move-in-right {
  animation: moveInRight 1s ease-out; }

.animate--move-in-bottom {
  animation: moveInBottom 1s ease-out; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.6rem;
  line-height: normal; }

.prom-head-primary {
  font-size: 3rem;
  font-weight: 500;
  color: #666666; }

.prom-head-secondary {
  font-size: 2.2rem;
  font-weight: 500;
  color: #666666; }

.paragraph {
  font-weight: 500;
  font-size: 3rem; }

.page-header {
  margin-bottom: 2rem;
  border-bottom: 3px solid #b6b6b6; }
  .page-header__title {
    font-size: 3rem;
    color: #666666; }

.product-header__title {
  font-size: 3rem;
  font-weight: 400;
  color: #666666; }

.product-header__subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #666666; }

.is-visible {
  display: block;
  height: auto; }

.is-spinning {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.shrink-and-slide {
  animation-name: shrink-and-slide;
  animation-duration: 3000ms; }

.slide-and-fade {
  animation-name: slide-and-fade;
  animation-duration: 3000ms;
  animation-delay: 200ms; }

.btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4rem;
  display: inline-block;
  padding: .8rem 2.2rem;
  transition: background-color .25s ease;
  backface-visibility: hidden;
  cursor: pointer; }
  .btn--small {
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .6rem 1rem; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  .btn--hover-float {
    transition: all .20s ease-in-out; }
    .btn--hover-float:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.3); }
    .btn--hover-float:active, .btn--hover-float:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--black {
    background-color: #666666; }
  .btn--red {
    background-color: #EB2F38; }
  .btn--darkgrey {
    background-color: #7a7a7a; }

.prom-primary {
  position: absolute;
  top: 5%;
  right: 3%;
  max-width: 35rem; }
  .prom-primary__subtitle {
    color: #666666;
    margin-bottom: 1.5rem; }
  .prom-primary__button {
    max-width: 13rem; }
    .prom-primary__button:hover {
      background-color: #EB2F38; }

.prom-secondary {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background .3s; }

.service-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.8rem 1.8rem; }
  .service-feature:first-child i {
    height: 5rem;
    width: 5rem;
    transform: translate(-0.3rem, 0.1rem); }
  .service-feature:nth-child(2) i {
    transform: translateX(0.1rem); }
  @media only screen and (max-width: 50em) {
    .service-feature {
      max-width: 19rem; } }
  @media only screen and (max-width: 40.625em) {
    .service-feature {
      max-width: 50%;
      flex-basis: 50%; }
      .service-feature:nth-child(odd) {
        padding-left: 0; }
      .service-feature:nth-child(even) {
        padding-right: 0; }
      .service-feature:nth-child(1) {
        padding-bottom: 1.2rem; }
      .service-feature:nth-child(2) {
        padding-bottom: 1.2rem; }
      .service-feature:nth-child(3) {
        padding-top: 1.2rem; }
      .service-feature:nth-child(4) {
        padding-top: 1.2rem; } }
  @media only screen and (max-width: 31.25em) {
    .service-feature {
      max-width: 19rem; } }
  @media only screen and (max-width: 21.875em) {
    .service-feature {
      max-width: 18rem;
      padding: 2.8rem 1.4rem; } }
  .service-feature__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: .5rem;
    margin-right: 1rem; }
  .service-feature__icon {
    font-size: 3rem;
    color: #eb5050;
    padding: 1rem; }
  .service-feature__text {
    display: flex;
    flex-direction: column;
    color: #FFF; }
    @media only screen and (max-width: 50em) {
      .service-feature__text {
        line-height: 1.1; } }
  .service-feature__title {
    font-size: 1.8rem;
    font-weight: 500; }
    @media only screen and (max-width: 50em) {
      .service-feature__title {
        margin-bottom: 4px;
        font-size: 1.6rem; } }
    @media only screen and (max-width: 40.625em) {
      .service-feature__title {
        margin-bottom: 4px; } }
  .service-feature__subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: #cecece; }

.main-menu {
  display: flex;
  position: relative;
  height: 4rem;
  width: 30rem; }
  @media only screen and (max-width: 31.25em) {
    .main-menu {
      width: auto; } }
  .main-menu__btn {
    text-transform: uppercase; }
  .main-menu__icon {
    margin-right: 1.5rem;
    font-size: 2rem; }
    .main-menu__icon:nth-child(2) {
      display: none; }
    @media only screen and (max-width: 31.25em) {
      .main-menu__icon {
        margin-right: 0; } }
  .main-menu__btn-text--2 {
    display: none; }
  @media only screen and (max-width: 46.875em) {
    .main-menu__btn-text--1 {
      display: none; }
    .main-menu__btn-text--2 {
      display: block; } }
  @media only screen and (max-width: 31.25em) {
    .main-menu__btn-text--2 {
      display: none; } }
  .main-menu__dropdown {
    position: absolute;
    top: 5rem;
    border: 1px solid #cecece;
    border-radius: .8rem;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    transition: height .35s ease-in-out;
    overflow: hidden;
    height: 0;
    display: none; }
    .main-menu__dropdown::before {
      position: absolute;
      top: -1.4rem;
      left: 2rem;
      height: 1.5rem;
      font-family: FontAwesome;
      content: "\f0de";
      font-size: 3rem;
      color: #FFF; }
    @media (hover: none) and (max-width: 35.9375em) {
      .main-menu__dropdown {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 50%; } }
    @media (hover: none) and (max-width: 31.25em) {
      .main-menu__dropdown {
        max-width: 60%; } }
    @media (hover: none) and (max-width: 25em) {
      .main-menu__dropdown {
        max-width: 70%; } }
    @media (hover: none) and (max-width: 21.875em) {
      .main-menu__dropdown {
        max-width: 80%; } }
  .main-menu__dropdown.is-visible {
    display: block;
    height: auto; }
  .main-menu__list {
    list-style: none;
    padding: 1rem 0;
    height: 100%; }
    .main-menu__list > li:not(:last-child):after {
      border-bottom: 1px solid #e5e5e5;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      content: "";
      bottom: 0;
      margin: 0 auto; }
    .main-menu__list > .main-menu__item:hover > .submenu {
      display: block; }
  .main-menu__item {
    position: relative;
    text-transform: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500; }
    .main-menu__item:hover {
      color: black; }
      .main-menu__item:hover .main-menu__item-arrow {
        transform: rotate(-90deg); }
      .main-menu__item:hover .main-menu__item-icon {
        color: #EB2F38; }
  .main-menu__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.8rem;
    text-decoration: none; }
  .main-menu__item-icon {
    margin-right: 1.5rem;
    width: 1.75rem;
    transition: color .15s ease; }
  .main-menu__title {
    margin-right: auto;
    transition: color .15s ease; }
  .main-menu__item-arrow {
    transition: transform .3s; }

.submenu {
  position: absolute;
  left: 100%;
  top: 0;
  border: 1px solid #cecece;
  border-radius: .8rem;
  z-index: 100;
  background-color: #FFF;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: none;
  transition: height .25s ease-in-out, opacity .25s ease-out; }
  .submenu__list {
    display: flex;
    flex-direction: column;
    width: 30rem;
    list-style: none;
    padding: 1rem 0;
    color: #7a7a7a; }
  .submenu__item {
    width: 100%;
    font-weight: 400; }
    .submenu__item:hover {
      color: black;
      background-color: #eeeeee; }
  .submenu__link {
    display: block;
    padding: .5rem 1.8rem;
    width: 100%;
    height: 100%; }

.product-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cecece;
  border-radius: 1rem;
  padding: 3.5rem 0;
  font-size: 1.6rem;
  color: #666666;
  background-color: #FFF; }
  .product-thumb:hover .product-thumb__img {
    transform: scale(1.1); }
  .product-thumb__top-content {
    height: 50%;
    margin: 0 3rem; }
  .product-thumb__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .25s ease-in-out; }
  .product-thumb__middle-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2.5rem;
    padding: 0 1.5rem; }
  .product-thumb__btn-wrap {
    display: flex;
    justify-content: center; }
    .product-thumb__btn-wrap button:nth-of-type(1) {
      margin-right: 1rem; }
    .product-thumb__btn-wrap button:nth-of-type(2) {
      padding: 1rem; }
  .product-thumb__cart-btn {
    width: 11rem; }
    .product-thumb__cart-btn:hover {
      background-color: #EB2F38; }
    @media only screen and (max-width: 470px) {
      .product-thumb__cart-btn {
        width: 13.5rem;
        font-size: 1.6rem; } }
  .product-thumb__cart-icon {
    margin-right: .5rem; }
  .product-thumb__like-btn:hover .product-thumb__like-icon {
    color: #EB2F38;
    transform: scale(1.3); }
  .product-thumb__like-icon {
    transition: transform .25s ease, color .25s;
    backface-visibility: hidden;
    font-size: 1.4rem;
    width: 1.4rem; }
    @media only screen and (max-width: 470px) {
      .product-thumb__like-icon {
        font-size: 1.6rem;
        width: 1.6rem; } }
    .product-thumb__like-icon--full {
      transform: scale(1.3);
      color: #EB2F38; }
  .product-thumb__review-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem; }
  .product-thumb__review-stars {
    font-size: 1.4rem; }
  .product-thumb__review-icon {
    color: #f3d31f; }
    .product-thumb__review-icon--partial {
      color: transparent;
      -webkit-background-clip: text; }
  .product-thumb__review-count {
    font-size: 1.3rem;
    margin-top: 3px; }
  .product-thumb__desc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem; }
  .product-thumb__title {
    text-align: center;
    color: black; }
  .product-thumb__bottom-content {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0 1.5rem; }
  .product-thumb__price {
    font-weight: 500;
    font-size: 1.8rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 470px) {
      .product-thumb__price {
        font-size: 2rem; } }

.quantity-calc__wrap {
  display: flex;
  color: #666666;
  width: 6rem;
  height: 4rem; }

.quantity-calc__input {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  border: 1px solid #666666;
  border-right: none; }

.quantity-calc__btns {
  display: flex;
  flex-direction: column;
  background-color: #FFF; }

.quantity-calc__up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 2rem;
  border: 1px solid #666666;
  cursor: pointer; }
  .quantity-calc__up-btn:hover {
    background-color: #cecece; }
  .quantity-calc__up-btn:active {
    box-shadow: inset 0 0 3px #000; }

.quantity-calc__down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 2rem;
  border: 1px solid #666666;
  cursor: pointer; }
  .quantity-calc__down-btn:hover {
    background-color: #cecece; }
  .quantity-calc__down-btn:active {
    box-shadow: inset 0 0 3px #000; }

.account-menu__dropdown {
  position: absolute;
  top: 5rem;
  border: 1px solid #cecece;
  border-radius: .8rem;
  width: 100%;
  z-index: 100;
  background-color: #FFF;
  transition: height .25s ease-in-out;
  overflow: hidden;
  height: 0;
  display: none; }
  .account-menu__dropdown::before {
    position: absolute;
    top: -1.4rem;
    left: 2rem;
    height: 1.5rem;
    font-family: FontAwesome;
    content: "\f0de";
    font-size: 3rem;
    color: #FFF; }
  .account-menu__dropdown.is-visible {
    display: block;
    height: auto; }

.account-menu__list {
  list-style: none;
  padding: 1rem 0; }
  .account-menu__list > li:not(:last-child):after {
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    content: "";
    bottom: 0;
    margin: 0 auto; }

.account-menu__item {
  position: relative;
  text-transform: none;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500; }
  .account-menu__item:hover {
    color: black; }
    .account-menu__item:hover .account-menu__item-icon {
      color: #EB2F38; }

.account-menu__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.2rem 1.8rem;
  text-decoration: none; }

.account-menu__item-icon {
  margin-right: 1.5rem;
  width: 1.75rem;
  transition: color .15s ease; }

.account-menu__title {
  margin-right: auto;
  transition: color .15s ease; }

.form {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5rem;
  font-size: 1.8rem; }
  .form__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFF;
    padding: 3rem;
    margin: 1.5rem;
    border: 2px solid #cecece;
    border-radius: 1rem; }
  .form__sub-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1.5rem; }
    .form__sub-section .form__inputs-wrap:first-of-type .form__input-wrap:last-of-type {
      margin-bottom: 0; }
  .form__title {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #666666; }
  .form__inputs-wrap {
    display: flex;
    flex-direction: column;
    margin: 1.5rem; }
  .form__input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
  .form__input-label {
    white-space: wrap; }
  .form__input {
    padding: .5rem;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    width: 25rem;
    border: none;
    border-bottom: 1px solid #7a7a7a; }
  .form__btn {
    margin-top: 1.5rem; }

.account-section__content .form__section:first-of-type .form__input {
  background-color: #eeeeee; }

.category-thumb {
  width: 16rem;
  height: 16rem;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  border-radius: 100px;
  margin-right: 6rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 50em) {
    .category-thumb {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .category-thumb:nth-child(even) {
      margin-right: 0; } }
  @media only screen and (max-width: 25em) {
    .category-thumb:nth-child(odd) {
      margin-right: 3rem; }
    .category-thumb:last-child {
      margin-right: 0; } }
  .category-thumb--1 div:last-child {
    background-color: #9b6cad; }
  .category-thumb--2 div:last-child {
    background-color: #f1bd5b; }
  .category-thumb--3 div:last-child {
    background-color: #d84848; }
  @media only screen and (max-width: 50em) {
    .category-thumb--3 {
      margin-right: 0; } }
  @media only screen and (max-width: 31.25em) {
    .category-thumb--3 {
      margin-right: 6rem; } }
  .category-thumb--4 div:last-child {
    background-color: #5db8bb; }
  .category-thumb--5 {
    margin-right: 0; }
    .category-thumb--5 div:last-child {
      background-color: #d84873; }
    @media only screen and (max-width: 50em) {
      .category-thumb--5 {
        margin-right: 6rem; } }
  .category-thumb--6 div:last-child {
    background-color: #00ad96; }
  @media only screen and (max-width: 50em) {
    .category-thumb--6 {
      margin-right: 0; } }
  .category-thumb--7 div:last-child {
    background-color: black; }
  .category-thumb--8 div:last-child {
    background-color: #ff5c1b; }
  .category-thumb--9 {
    margin-right: 0; }
    .category-thumb--9 div:last-child {
      background-color: #72c26a; }
  .category-thumb__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
    padding: 2.2rem;
    font-size: 2rem;
    transition: .8s ease;
    transition-property: transform; }
    .category-thumb__side--front {
      background-color: #FFF; }
    .category-thumb__side--back {
      transform: rotateY(180deg);
      color: #FFF;
      text-align: center; }
  .category-thumb:hover .category-thumb__side--front {
    transform: rotateY(-180deg); }
  .category-thumb:hover .category-thumb__side--back {
    transform: rotateY(0); }
  .category-thumb__img {
    max-height: 100%;
    max-width: 100%; }

.header-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  background-color: #90e0f8;
  border-bottom: 1px solid #b6b6b6;
  transition: height .5s;
  overflow: hidden;
  color: #666666; }
  .header-notice__content {
    display: flex;
    align-items: center; }
  .header-notice__close-icon {
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: color .25s ease; }
    .header-notice__close-icon:hover {
      color: #EB2F38; }

.main-header {
  padding-top: 2rem;
  background-color: #eeeeee;
  background: linear-gradient(to left, #e0e0e0, #ffffff); }

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 35.9375em) {
    .top-header {
      flex-wrap: wrap;
      justify-content: center; } }

.logo {
  display: flex;
  align-items: center;
  height: 12rem;
  flex-basis: 25%; }
  @media only screen and (max-width: 35.9375em) {
    .logo {
      flex-basis: 100%;
      max-width: 22.3rem; } }
  .logo__link {
    height: 100%; }
  .logo__img {
    height: 95%;
    object-fit: contain; }

.search-form {
  display: flex;
  justify-content: center;
  flex-basis: 45%;
  border: 2px solid #b6b6b6;
  border-radius: 4rem;
  background-color: #FFF; }
  @media only screen and (max-width: 43.75em) {
    .search-form {
      flex-basis: 100%;
      margin-left: 3rem; } }
  @media only screen and (max-width: 35.9375em) {
    .search-form {
      margin-left: 0;
      margin-bottom: 3rem; } }
  .search-form__input {
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    border-radius: 4rem;
    border: none;
    padding: 1rem 1.5rem;
    background-color: #FFF; }
  .search-form__btn:hover {
    background-color: #EB2F38; }
  .search-form__icon {
    font-size: 1.8rem;
    margin-right: .5rem; }

.phone-support {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 25%;
  color: #666666; }
  @media only screen and (max-width: 43.75em) {
    .phone-support {
      display: none; } }
  .phone-support__icon {
    font-size: 3.5rem;
    margin-right: 1rem; }
  .phone-support__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .phone-support__question {
    font-size: 1.8rem;
    font-weight: 500;
    color: #EB2F38; }

.container {
  max-width: 150rem;
  padding: 0 2.5rem;
  margin: 0 auto; }

.main {
  position: relative;
  background-color: #eeeeee;
  padding-top: 3rem;
  border-bottom: 1px solid #b6b6b6;
  background-image: url("../../img/white_brick_wall_dark.png"); }

section {
  padding-bottom: 10rem; }

.shadow-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  @media (hover: none) {
    .shadow-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100%; } }

.nav-bar {
  display: flex;
  border-bottom: 1px solid #7a7a7a;
  background-color: #EB2F38;
  height: 6rem; }
  .nav-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; }
  .nav-bar__left {
    display: flex; }

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: -7rem; }
  @media only screen and (max-width: 53.125em) {
    .nav {
      margin-left: -6rem; } }
  @media only screen and (max-width: 46.875em) {
    .nav {
      margin-left: -16rem; } }
  @media only screen and (max-width: 31.25em) {
    .nav {
      display: none; } }
  .nav__item {
    position: relative; }
    @media only screen and (max-width: 53.125em) {
      .nav__item:not(:last-child) {
        margin-right: 2rem; } }
    @media only screen and (max-width: 46.875em) {
      .nav__item:first-child {
        display: none; } }
  .nav__link {
    font-weight: 500; }
    .nav__link:hover {
      background-color: #666666; }
    @media only screen and (max-width: 53.125em) {
      .nav__link {
        padding: 0;
        background-color: #EB2F38 !important; } }

.account-cart-wrapper {
  position: relative;
  display: flex;
  align-items: center; }

.login-btn {
  font-weight: 300;
  margin-right: 1rem; }
  .login-btn__icon {
    font-size: 2.4rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 40.625em) {
      .login-btn__icon {
        margin: 0; } }
    @media only screen and (max-width: 31.25em) {
      .login-btn__icon {
        margin-right: 1rem; } }
  @media only screen and (max-width: 40.625em) {
    .login-btn__text {
      display: none; } }
  @media only screen and (max-width: 31.25em) {
    .login-btn__text {
      display: block; } }

.account-btn {
  font-weight: 300;
  margin-right: 3rem; }
  .account-btn__icon {
    font-size: 2.4rem;
    margin-right: 1rem; }
  .account-btn__firstname {
    font-weight: 500; }

.register-btn {
  font-weight: 300;
  margin-right: 2rem; }
  .register-btn__icon {
    font-size: 2.4rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 40.625em) {
      .register-btn__icon {
        margin: 0; } }
    @media only screen and (max-width: 31.25em) {
      .register-btn__icon {
        margin-right: 1rem; } }
  @media only screen and (max-width: 40.625em) {
    .register-btn__text {
      display: none; } }
  @media only screen and (max-width: 31.25em) {
    .register-btn__text {
      display: block; } }

.cart-link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  cursor: pointer; }
  .cart-link__icon {
    font-size: 3.5rem; }
  .cart-link__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #666666;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 300; }

.main-footer {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.8rem; }
  @media only screen and (max-width: 50em) {
    .main-footer {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 31.25em) {
    .main-footer {
      flex-direction: column;
      align-items: center; } }

.footer-contact {
  display: flex;
  flex-basis: 22%;
  padding-right: 2.5rem;
  margin-left: auto; }
  @media only screen and (max-width: 31.25em) {
    .footer-contact {
      margin-left: 0;
      margin-bottom: 3rem;
      padding-right: 0;
      order: 1; } }
  .footer-contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 31.25em) {
      .footer-contact__container {
        align-items: center; } }
    .footer-contact__container div:nth-of-type(2) {
      margin-bottom: .6rem; }
    .footer-contact__container div:nth-of-type(3):hover {
      color: #666666; }
  .footer-contact__logo-box {
    display: flex;
    align-items: center;
    max-width: 18rem;
    margin-bottom: .5rem; }
    @media only screen and (max-width: 31.25em) {
      .footer-contact__logo-box {
        max-width: 24rem; } }
  .footer-contact__logo-img {
    width: 100%;
    height: auto; }
  .footer-contact__item {
    display: flex;
    align-items: center;
    transition: color .15s ease; }
  .footer-contact i {
    margin-right: 1.5rem; }

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 43%;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6; }
  @media only screen and (max-width: 50em) {
    .footer-nav {
      order: 1;
      flex-basis: 85%;
      justify-content: space-around;
      border: none;
      border-top: 1px solid #b6b6b6;
      padding-top: 3rem;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (max-width: 31.25em) {
    .footer-nav {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid #b6b6b6;
      padding-top: 3rem;
      border-top: 1px solid #b6b6b6;
      width: 85%;
      order: 0; } }
  @media only screen and (max-width: 25em) {
    .footer-nav {
      width: 100%; } }
  .footer-nav__list-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #666666; }
  .footer-nav__list {
    list-style: none; }
  .footer-nav__list-item {
    margin-bottom: .6rem; }
  .footer-nav__list-link {
    transition: color .15s; }
    .footer-nav__list-link:hover {
      color: #666666; }

.footer-subscribe {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
  margin-right: auto; }
  @media only screen and (max-width: 31.25em) {
    .footer-subscribe {
      margin-right: 0;
      order: -1;
      max-width: 38rem; } }
  .footer-subscribe__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 38rem;
    padding-left: 2.5rem; }
    @media only screen and (max-width: 50em) {
      .footer-subscribe__container {
        max-width: 41.25rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer-subscribe__container {
        margin-right: 0;
        padding-left: 0; } }
  .footer-subscribe__paragraph {
    margin-bottom: 1.8rem; }
    @media only screen and (max-width: 31.25em) {
      .footer-subscribe__paragraph {
        text-align: center; } }
  .footer-subscribe__form {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #b6b6b6;
    border-radius: 4rem; }
  .footer-subscribe__form-input {
    flex: 1;
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4rem;
    font-family: inherit;
    font-size: inherit; }
  .footer-subscribe__form-btn {
    height: 100%; }

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -3rem;
  height: 82vh;
  padding-bottom: 0;
  background-color: black; }
  .landing__background {
    background-image: url(../../img/landing-img-0.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out; }

.promotion {
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: opacity .5s ease-in-out;
  width: 70rem; }
  @media only screen and (max-width: 40.625em) {
    .promotion {
      max-width: 50rem; } }
  @media only screen and (max-width: 40.625em) {
    .promotion {
      max-width: 35rem; } }
  .promotion__header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: #FFF;
    text-align: center; }
  .promotion__main-header {
    font-size: 4rem;
    line-height: 5rem;
    backface-visibility: none;
    margin-bottom: 1rem;
    backface-visibility: hidden; }
  .promotion__sub-header {
    font-size: 2rem;
    backface-visibility: hidden; }

.service-bar {
  background-color: #666666;
  margin-bottom: 5rem; }
  .service-bar__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .service-bar__content .service-feature:first-child {
      padding-left: 0; }
    .service-bar__content .service-feature:last-child {
      padding-right: 0; }
    @media only screen and (max-width: 31.25em) {
      .service-bar__content {
        max-width: 60rem;
        justify-content: space-around; } }

.categories-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  color: #666666;
  font-weight: 500; }
  .categories-feature__header {
    margin-bottom: 3rem; }
  .categories-feature__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 105rem;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .categories-feature__container {
        max-width: 70rem; } }
    @media only screen and (max-width: 31.25em) {
      .categories-feature__container {
        max-width: 40rem; } }

.results-section__main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  grid-template-rows: minmax(0, 48rem);
  grid-auto-rows: minmax(0, 48rem);
  gap: 1.5rem;
  margin-bottom: 1rem;
  justify-content: center; }
  @media only screen and (max-width: 470px) {
    .results-section__main-grid {
      grid-template-columns: repeat(auto-fit, 35rem); } }

.results-section__footer {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%; }

.results-section__item-count {
  color: #666666;
  font-size: 1.4rem; }

.results-section__page-buttons {
  display: flex;
  justify-content: space-between; }

.results-section__page-btn {
  font-weight: 300; }
  .results-section__page-btn i {
    font-size: 1.8rem; }
  .results-section__page-btn--prev {
    flex-direction: row-reverse; }
    .results-section__page-btn--prev i {
      margin-right: .5rem; }
  .results-section__page-btn--next {
    margin-left: 2.5rem; }
    .results-section__page-btn--next i {
      margin-left: .5rem; }

.product-section__header {
  padding: 2rem 0; }

.product-section__main {
  display: flex; }
  @media only screen and (max-width: 900px) {
    .product-section__main {
      flex-direction: column; } }

.page-header__info-box div {
  display: inline-block;
  margin-right: 2.5rem; }

.product-gallery__box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 2.5rem; }
  @media only screen and (max-width: 900px) {
    .product-gallery__box {
      margin-right: 0;
      margin-bottom: 5rem;
      width: 100%;
      max-width: 90rem; } }

.product-gallery__img-wrap {
  border: 1px solid #cecece;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 1rem; }

.product-gallery__img-link {
  display: flex;
  justify-content: center; }

.product-gallery__main-img {
  padding: 3rem;
  max-width: 100%;
  height: auto;
  max-height: 50rem; }

.product-gallery__thumbs-box {
  display: flex; }

.product-gallery__thumb-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: .8rem;
  width: 8rem;
  height: 8rem;
  transition: border-color .25s; }
  .product-gallery__thumb-wrap:not(:last-child) {
    margin-right: 1rem; }
  .product-gallery__thumb-wrap:hover {
    border-color: #666666;
    cursor: pointer; }

.product-gallery__inner-thumb-wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.product-gallery__thumb-img {
  max-width: 100%;
  height: auto;
  max-height: 8rem;
  padding: .8rem; }

.product-info__box {
  width: 50%; }
  @media only screen and (max-width: 900px) {
    .product-info__box {
      width: 100%;
      max-width: 90rem; } }

.product-info__nav-tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 2rem;
  color: #666666; }
  @media only screen and (max-width: 475px) {
    .product-info__nav-tabs {
      flex-wrap: wrap; } }

.product-info__nav-item {
  cursor: pointer; }
  .product-info__nav-item:after {
    display: block;
    content: '';
    border-bottom: solid 2px #EB2F38;
    transform: scaleX(0);
    transition: transform .25s ease-in-out; }
  .product-info__nav-item:hover:after {
    transform: scaleX(1); }
  @media only screen and (max-width: 475px) {
    .product-info__nav-item {
      text-align: center; }
      .product-info__nav-item:not(:nth-child(3)) {
        margin-left: auto;
        margin-right: auto; } }
  .product-info__nav-item--active {
    color: #666666; }
    .product-info__nav-item--active:after {
      transform: scaleX(1); }
  .product-info__nav-item--break {
    display: none; }
    @media only screen and (max-width: 475px) {
      .product-info__nav-item--break {
        display: list-item;
        flex-basis: 100%;
        height: 0;
        margin-bottom: 5px; } }

.product-info__nav-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem; }
  @media only screen and (max-width: 1300px) {
    .product-info__nav-title {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 900px) {
    .product-info__nav-title {
      font-size: 2rem; } }
  @media only screen and (max-width: 550px) {
    .product-info__nav-title {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 475px) {
    .product-info__nav-title {
      font-size: 2rem; } }

.product-info__nav-content-main {
  color: black;
  background-color: white;
  max-height: 42.6rem;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  font-size: 1.6rem; }
  .product-info__nav-content-main::-webkit-scrollbar {
    display: none; }

.product-info__nav-content--1 {
  display: block; }

.product-info__nav-content--2 {
  display: none; }

.product-info__nav-content--3 {
  display: none; }

.product-info__nav-content--4 {
  display: none; }

.product-info__description {
  font-size: 1.8rem; }

.product-info__features {
  list-style: none; }

.product-info__features-item {
  margin-bottom: 1.8rem; }

.product-info__features-title {
  font-size: 1.8rem; }

.product-info__features-text {
  line-height: 1.4rem; }

.product-info__included {
  list-style: inside; }

.product-info__included-item {
  margin-bottom: .5rem; }

.product-info__included-title {
  display: inline-block;
  font-size: 1.8rem; }

.product-info__specifications {
  display: flex; }
  .product-info__specifications ul {
    display: flex;
    flex-direction: column;
    list-style: none; }

.product-info__specifications-titles {
  margin-right: 2rem;
  flex-shrink: 0;
  max-width: 20rem; }

.product-info__specifications-item {
  height: 4rem;
  line-height: 1.1;
  margin-bottom: 1.8rem; }

.product-info__user-review-box {
  margin: 2rem 0;
  color: #666666;
  font-size: 2rem; }

.product-info__review-wrap {
  display: flex;
  align-items: center; }

.product-info__review-stars {
  margin-right: 1.5rem; }

.product-info__review-icon {
  color: #f3d31f; }
  .product-info__review-icon--partial {
    color: transparent;
    -webkit-background-clip: text; }

.product-info__review-count {
  font-weight: 500; }

.product-info__user-action-box {
  display: flex; }
  @media only screen and (max-width: 475px) {
    .product-info__user-action-box {
      flex-wrap: wrap;
      height: 10rem; } }

.product-info__total-wrap {
  display: flex;
  align-items: center;
  line-height: 3rem;
  color: black;
  font-size: 3rem;
  margin-right: 3rem;
  margin-left: 1.5rem;
  transition: background-color .25s; }
  @media only screen and (max-width: 475px) {
    .product-info__total-wrap {
      flex-basis: 60%; } }

.product-info__cart-btn {
  width: 17rem;
  margin-right: 2rem;
  align-self: center; }
  .product-info__cart-btn:hover {
    background-color: #EB2F38; }

.product-info__cart-icon {
  font-size: 2rem;
  margin-right: 1rem; }

.product-info__like-btn {
  align-self: center; }
  .product-info__like-btn:hover .product-info__like-icon {
    transform: scale(1.25);
    color: #EB2F38; }

.product-info__like-icon {
  font-size: 2rem;
  margin-right: 1rem;
  transition: transform .25s ease, color .25s;
  backface-visibility: hidden; }
  .product-info__like-icon--full {
    color: #EB2F38;
    transform: scale(1.25); }

.product-info__like-text {
  width: 5rem; }

.cart-section__main {
  display: flex;
  position: relative; }
  @media only screen and (max-width: 53.125em) {
    .cart-section__main {
      flex-wrap: wrap;
      max-width: 80rem; } }
  @media only screen and (max-width: 35.9375em) {
    .cart-section__main {
      max-width: 50rem; } }

.cart {
  border: 2px solid #cecece;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 3rem;
  color: black;
  max-width: 80rem;
  background-color: white;
  height: 100%; }
  @media only screen and (max-width: 53.125em) {
    .cart {
      margin-right: 0;
      margin-bottom: 3rem; } }
  .cart__row {
    display: flex;
    height: 12rem; }
    .cart__row:not(:first-of-type) {
      border-top: 1px solid #cecece; }
    @media only screen and (max-width: 35.9375em) {
      .cart__row {
        height: auto; } }
  .cart__right {
    display: flex;
    flex-basis: 100%; }
    @media only screen and (max-width: 35.9375em) {
      .cart__right {
        flex-wrap: wrap; } }
  .cart__left {
    display: flex;
    align-items: center; }
  .cart__item {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #FFF;
    padding: 1.5rem; }
    .cart__item--img {
      width: 12rem;
      height: 100%;
      justify-content: center; }
      @media only screen and (max-width: 35.9375em) {
        .cart__item--img {
          height: 12rem; } }
    .cart__item--name {
      margin-right: auto;
      flex-basis: 70%; }
      @media only screen and (max-width: 35.9375em) {
        .cart__item--name {
          flex-basis: 100%; } }
    .cart__item--price {
      width: 13rem; }
  .cart__image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .cart__image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
  .cart__image {
    max-width: 100%;
    max-height: 100%; }
  .cart__quantity {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cart__quantity .quantity-calc__wrap {
      margin-bottom: .8rem; }
  .cart__btn-wrap {
    display: flex;
    justify-content: center; }
  .cart__remove-btn {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #b6b6b6; }
    .cart__remove-btn:hover {
      background-color: #EB2F38; }
  .cart__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .cart__unit-price {
    font-size: 1.3rem;
    white-space: nowrap;
    width: 100%; }
  .cart__total-price {
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%; }

.cart-summary {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 41rem;
  color: black; }
  @media only screen and (max-width: 53.125em) {
    .cart-summary {
      margin-left: auto; } }
  .cart-summary__box {
    width: 100%;
    background-color: #FFF;
    border: 2px solid #cecece;
    border-radius: 1rem;
    padding: 1.5rem 2rem; }
  .cart-summary__header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: #666666; }
  .cart-summary__title {
    margin-left: 1rem; }
  .cart-summary__content {
    border: 1px solid #cecece;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem; }
    .cart-summary__content div {
      display: flex;
      justify-content: space-between; }
  .cart-summary__shipping-wrap {
    border-bottom: 1px double #cecece;
    margin-bottom: .8rem; }
  .cart-summary__total-wrap {
    font-weight: 500;
    font-size: 3rem; }
  .cart-summary__btns-wrap {
    display: flex; }
  .cart-summary__shop-btn {
    margin-right: 1rem; }
  .cart-summary__checkout-btn {
    flex: 1;
    text-transform: uppercase; }

.login-section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 95rem; }

.msg-header {
  margin-bottom: 1.5rem; }
  .msg-header--error {
    color: #EB2F38; }
  .msg-header--success {
    color: #00ac00; }
  .msg-header__icon {
    margin-right: 1rem; }
