*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: auto; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.6rem;
  line-height: normal; }

.prom-head-primary {
  font-size: 3rem;
  font-weight: 300;
  color: #EB2F38; }

.prom-head-secondary {
  font-size: 2.2rem;
  font-weight: 500;
  color: #3d3d3d; }

.paragraph {
  font-weight: 700;
  font-size: 3rem; }

.is-visible {
  display: block;
  height: auto; }

.btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4rem;
  display: inline-block;
  padding: .8rem 2.2rem;
  transition: background-color .2s;
  cursor: pointer; }
  .btn--small {
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .8rem 1.4rem; }
  .btn--black {
    background-color: #3d3d3d; }
  .btn--red {
    background-color: #EB2F38; }

.prom-primary {
  position: absolute;
  top: 5%;
  right: 3%;
  max-width: 35rem; }
  .prom-primary__subtitle {
    color: #3d3d3d;
    margin-bottom: 1.5rem; }
  .prom-primary__button {
    max-width: 13rem; }
    .prom-primary__button:hover {
      background-color: #EB2F38; }

.prom-secondary {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background .3s; }

.service-feature {
  display: flex;
  align-items: center;
  padding: 2rem 3rem; }
  .service-feature__icon-wrap {
    display: flex;
    align-items: center;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: .5rem;
    margin-right: 1rem; }
  .service-feature__icon {
    font-size: 3rem;
    color: #FFF;
    padding: 1rem; }
  .service-feature__text {
    display: flex;
    flex-direction: column;
    color: #FFF; }
  .service-feature__title {
    font-size: 1.8rem;
    font-weight: 500; }
  .service-feature__subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: #cecece; }

.main-menu {
  position: relative;
  height: 4rem;
  width: 27rem; }
  .main-menu__btn {
    text-transform: uppercase; }
  .main-menu__icon {
    margin-right: 1.5rem;
    font-size: 2rem; }
  .main-menu__dropdown {
    position: absolute;
    top: 5rem;
    border: 1px solid #cecece;
    border-radius: .8rem;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    transition: height .25s ease-in-out;
    overflow: hidden;
    height: 0;
    display: none; }
    .main-menu__dropdown::before {
      position: absolute;
      top: -1.4rem;
      left: 2rem;
      height: 1.5rem;
      font-family: FontAwesome;
      content: "\f0de";
      font-size: 3rem;
      color: #FFF; }
  .main-menu__dropdown.is-visible {
    display: block;
    height: auto; }
  .main-menu__list {
    list-style: none;
    padding: 1rem 0; }
    .main-menu__list > li:not(:last-child):after {
      border-bottom: 1px solid #e5e5e5;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      content: "";
      bottom: 0;
      margin: 0 auto; }
    .main-menu__list > .main-menu__item:hover > .submenu {
      display: block; }
  .main-menu__item {
    position: relative;
    text-transform: none;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500; }
    .main-menu__item:hover {
      color: black; }
      .main-menu__item:hover .main-menu__item-arrow {
        transform: rotate(-90deg); }
  .main-menu__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    text-decoration: none; }
  .main-menu__item-icon {
    margin-right: 1.5rem;
    width: 1.75rem; }
  .main-menu__title {
    margin-right: auto; }
  .main-menu__item-arrow {
    transition: transform .3s; }

.submenu {
  position: absolute;
  left: 100%;
  top: 0;
  border: 1px solid #cecece;
  border-radius: .8rem;
  z-index: 100;
  background-color: #FFF;
  width: 50rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: none;
  transition: height .25s ease-in-out, opacity .25s ease-out; }

.header-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #cecece; }
  .header-notice__alert-icon {
    color: #EB2F38;
    font-size: 2rem;
    margin-right: .5rem; }
  .header-notice__content {
    display: flex;
    align-items: center; }
  .header-notice__close-icon {
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer; }

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem; }

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 25%; }
  .logo__img {
    max-width: 100%;
    max-height: 100%; }

.search-form {
  display: flex;
  justify-content: center;
  flex-basis: 45%;
  border: 2px solid lightgrey;
  border-radius: 4rem; }
  .search-form__input {
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    border-radius: 4rem;
    border: none;
    padding: 1rem 1.5rem;
    background-color: #FFF; }
  .search-form__btn:hover {
    background-color: #EB2F38; }
  .search-form__icon {
    font-size: 1.5rem;
    margin-right: .5rem; }

.phone-support {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 25%;
  color: #3d3d3d; }
  .phone-support__icon {
    font-size: 3.5rem;
    margin-right: 1rem; }
  .phone-support__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .phone-support__question {
    font-size: 1.8rem;
    font-weight: 500;
    color: #EB2F38; }

.container {
  max-width: 150rem;
  padding: 0 4rem;
  margin: 0 auto; }

.main {
  position: relative;
  background-color: #ececec; }

.shadow-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.nav-bar {
  display: flex;
  background-color: #EB2F38;
  height: 6rem;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
  .nav-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; }
  .nav-bar__left {
    display: flex; }

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 2rem; }
  .nav__item {
    position: relative; }
  .nav__link {
    font-weight: 500; }
    .nav__link:hover {
      background-color: #3d3d3d; }

.account-cart-wrapper {
  display: flex;
  align-items: center; }

.my-account {
  font-weight: 300;
  margin-right: 3rem; }
  .my-account__icon {
    font-size: 2rem;
    margin-right: 1rem; }

.cart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: white; }
  .cart__icon {
    font-size: 3.5rem; }
  .cart__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -1rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #3d3d3d;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 300; }

.grid-primary-wrapper {
  padding: 0 2rem;
  height: 35vw;
  max-height: 52.5rem;
  padding: 2rem 0; }

.grid-primary {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
  gap: 2rem; }
  .grid-primary__item {
    border-radius: .8rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FFF; }
    .grid-primary__item--lg {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      background-image: url("../../img/grid-img-1.png"); }
    .grid-primary__item--sm-top {
      background-image: url("../../img/grid-img-2.png"); }
    .grid-primary__item--sm-bottom {
      background-image: url("../../img/grid-img-3.png"); }
  .grid-primary__slider {
    position: relative;
    width: 100%;
    height: 100%; }

.service-bar {
  background-color: #3d3d3d; }
  .service-bar__content {
    display: flex;
    justify-content: space-between; }
    .service-bar__content div:nth-of-type(1) div:nth-of-type(1) i {
      height: 5.75rem;
      transform: translateY(0.4rem); }

.results {
  display: grid;
  grid-template-rows: 10rem auto;
  grid-template-columns: [sidebar-start] 25rem [sidebar-end main-start] 1fr [main-end];
  gap: 1.5rem;
  padding: 2rem 0; }
  .results__sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey; }
  .results__header {
    grid-column: main-start / main-end;
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey; }
  .results__main {
    grid-column: main-start / main-end;
    width: 100%; }
  .results__main-grid {
    display: grid;
    grid-template-columns: [main-grid-start] repeat(4, [col-start] 1fr [col-end]) [main-grid-end];
    gap: 1rem; }

.product-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cecece;
  border-radius: .8rem;
  height: 35rem;
  padding: 1rem 2rem;
  background-color: #FFF; }
  .product-thumb__img-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .product-thumb__img {
    width: 100%;
    max-height: 100%;
    object-fit: contain; }
  .product-thumb__btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
    .product-thumb__btn-wrap button:nth-of-type(1) {
      margin-right: .8rem; }
    .product-thumb__btn-wrap button:nth-of-type(2) {
      padding: 1rem; }
  .product-thumb__btn:hover {
    background-color: #EB2F38; }
  .product-thumb__cart-icon {
    margin-right: .5rem; }
  .product-thumb__heart-icon {
    font-size: 1.4rem; }
  .product-thumb__desc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .product-thumb__review-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .8rem; }
  .product-thumb__review-icon {
    color: #ffd000;
    font-size: 1.2rem; }
    .product-thumb__review-icon--empty {
      color: inherit; }
  .product-thumb__title {
    font-size: 1.2rem;
    text-align: center; }
  .product-thumb__price {
    color: #EB2F38;
    font-weight: 500; }
