.account-section__content {
   display: flex;
   justify-content: space-between;
   max-width: 60rem;
   flex-wrap: wrap;
}

.account__info-sub-container {
   .input {
      border: none;
      border-bottom: 1px solid $color-darkgrey;
      border-radius: 0;
   }
}