.cart-section {
   &__main {
      display: flex;
      position: relative;

      @media only screen and (max-width: $bp-xxl) {
         flex-wrap: wrap;
         max-width: 80rem;
      }

      @media only screen and (max-width: $bp-smd) {
         max-width: 50rem;
      }
   }
}

.cart {
   border: 2px solid $color-lightgrey;
   border-radius: 1rem;
   overflow: hidden;
   margin-right: 3rem;
   color: black;
   max-width: 80rem;
   background-color: white;
   height: 100%;

   @media only screen and (max-width: $bp-xxl) {
      margin-right: 0;
      margin-bottom: 3rem;
   }

   &__row {
      display: flex;
      height: 12rem;

      &:not(:first-of-type) {
         border-top: 1px solid $color-lightgrey;
      }

      @media only screen and (max-width: $bp-smd) {
         height: auto;
      }
   }

   &__right {
      display: flex;
      flex-basis: 100%;

      @media only screen and (max-width: $bp-smd) {
         flex-wrap: wrap;
      }
   }

   &__left {
      display: flex;
      align-items: center;
   }

   &__item {
      display: flex;
      align-items: center;
      height: auto;
      background-color: $color-white;
      padding: 1.5rem;

      &--img {
         width: 12rem;
         height: 100%;
         justify-content: center;

         @media only screen and (max-width: $bp-smd) {
            height: 12rem;
         }
      }

      &--name {
         margin-right: auto;
         flex-basis: 70%;

         @media only screen and (max-width: $bp-smd) {
            flex-basis: 100%;
         }
      }

      &--price {
         width: 13rem;
      }
   }

   &__image-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }

   &__image-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
   }

   &__image {
      max-width: 100%;
      max-height: 100%; 
   }

   &__quantity {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .quantity-calc__wrap {
         margin-bottom: .8rem;
      }
   }

   &__btn-wrap {
      display: flex;
      justify-content: center;
   }

   &__remove-btn {
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: $color-grey;

      &:hover {
         background-color: $color-primary;
      }
   }

   &__total {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%
   }

   &__unit-price {
      font-size: $font-size-xs;
      white-space: nowrap;
      width: 100%
   }

   &__total-price {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      width: 100%;
   }
}

.cart-summary {
   flex-grow: 1;
   flex-shrink: 0;
   max-width: 41rem;
   color: black;

   @media only screen and (max-width: $bp-xxl) {
      margin-left: auto;
   }

   &__box {
      width: 100%;
      background-color: $color-white;
      border: 2px solid $color-lightgrey;
      border-radius: 1rem;
      padding: 1.5rem 2rem;
   }

   &__header {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      color: $color-black;
   }

   &__title {
      margin-left: 1rem;
   }

   &__content {
      border: 1px solid $color-lightgrey;
      border-radius: 1rem;;
      padding: 1rem;
      margin-bottom: 1.5rem;

      & div {
         display: flex;
         justify-content: space-between;
      }
   }

   &__shipping-wrap {
      border-bottom: 1px double $color-lightgrey;
      margin-bottom: .8rem; 
   }

   &__total-wrap {
      color: $color-black;
      font-weight: $font-weight-bold;
      font-size: $font-size-xxl;
   }

   &__btns-wrap {
      display: flex;
   }

   &__shop-btn {
      margin-right: 1rem;
   }

   &__checkout-btn {
      flex: 1;
      text-transform: uppercase;
   }
}

