
.landing {
   display: flex;
   justify-content: center;
   align-items: center;
   
   position: relative;
   margin-top: -3rem;
   height: 75vh;
   padding-bottom: 0;
   background-color: black;
   
   &__background {
      background-image: url(../../img/landing-img-0.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      transition: opacity .5s ease-in-out;
   }
}

.promotion {
   position: absolute;
   z-index: 2;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   transition: opacity .5s ease-in-out;

   &__header-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      color: $color-white;
      text-align: center;
   }

   &__main-header {
      font-size: $font-size-xxxl;
      line-height: 5rem;
      backface-visibility: none;
      margin-bottom: 1rem;
      backface-visibility: hidden;
   }

   &__sub-header {
      font-size: $font-size-xl;
      backface-visibility: hidden;
   } 
}

.service-bar {
   background-color: $color-black;
   margin-bottom: 5rem;
   border-top: 1px solid $color-darkgrey;
   border-bottom: 1px solid $color-darkgrey;

   &__content {
      display: flex;
      justify-content: space-between;

      & .service-feature:first-child {
         padding-left: 0;
      }

      & .service-feature:last-child {
         padding-right: 0;
      }

      & div:nth-of-type(1) div:nth-of-type(1) i {
         height: 5.75rem;
         transform: translateY(.4rem);
      }
   }
}

.categories-feature {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin-bottom: 10rem;
   color: $color-black;
   font-weight: 500;

   &__header {
      margin-bottom: 3rem;
   }

   &__container {
      display: flex;
   }

}