.landing {
   display: flex;
   justify-content: center;
   align-items: center;
   
   position: relative;
   margin-top: -3rem;
   height: 82vh;
   padding-bottom: 0;
   background-color: black;
   
   &__background {
      background-image: url(../../img/landing-img-0.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      transition: opacity .5s ease-in-out;
   }
}

.promotion {
   position: absolute;
   z-index: 2;
   top: 38%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   transition: opacity .5s ease-in-out;
   width: 70rem;

   @media only screen and (max-width: $bp-md) {
      max-width: 50rem;
   }

   @media only screen and (max-width: $bp-md) {
      max-width: 35rem;
   }

   @media only screen and (max-width: $bp-smd) {
      top: 45%;
   }

   &__header-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      color: $color-white;
      text-align: center;
   }

   &__main-header {
      font-size: $font-size-xxxl;
      line-height: 5rem;
      backface-visibility: none;
      margin-bottom: 1rem;
      backface-visibility: hidden;
   }

   &__sub-header {
      font-size: $font-size-xl;
      backface-visibility: hidden;
   } 
}

.service-bar {
   background-color: $color-black;
   margin-bottom: 5rem;

   &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .service-feature:first-child {
         padding-left: 0;
      }

      & .service-feature:last-child {
         padding-right: 0;
      }

      @media only screen and (max-width: $bp-sm) {
         max-width: 60rem;
         justify-content: space-around;
      }
   }
}

.categories-feature {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin-bottom: 10rem;
   color: $color-black;
   font-weight: 500;

   &__header {
      margin-bottom: 3rem;
   }

   &__container {
      display: flex;
      flex-wrap: wrap;
      max-width: 105rem;
      justify-content: center;

      @media only screen and (max-width: $bp-xl) {
         max-width: 70rem;
      }

      @media only screen and (max-width: $bp-sm) {
         max-width: 40rem;
      }
   }
}