.results {
   display: grid;
   grid-template-rows: 10rem auto;
   grid-template-columns: [sidebar-start] 20rem [sidebar-end main-start] 1fr [main-end];
   gap: 1.5rem;

   padding: 2rem 0;



   &__sidebar {
      grid-column: sidebar-start / sidebar-end;
      grid-row: 1 / -1;

      width: 100%;

      border: 1px solid lightgrey;


   }

   &__header {
      grid-column: main-start / main-end;
      
      width: 100%;

      border: 1px solid lightgrey;

   }

   &__main {
      grid-column: main-start / main-end;


   }

   &__main-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-template-rows: minmax(0, 50rem);
      grid-auto-rows: minmax(0, 50rem);
      gap: 1.5rem;

   }
}