.login-section__content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   max-width: 95rem;

}


.form-container {
   display: inline-block;
}

.form {
   display: flex;
   flex-direction: column;

   background-color: $color-white;
   padding: 3rem;
   border: 2px solid $color-lightgrey;
   border-radius: 1rem;

   & button {
      margin-bottom: 1.5rem;
   }
}

.form__title {
   text-align: center;
   margin-bottom: 2.5rem;
   color: $color-black;
}

.form__content {
   display: flex;
   justify-content: center;
}

.form-sub-container {
   display: flex;
   flex-direction: column;

   .btn {
      margin-top: 1.5rem;
   }
}

.sign-up__form {
   .form-sub-container:nth-of-type(1) {
      margin-right: 5rem;
   }

   .input:last-of-type {
      margin-bottom: 0;
   }
}

.input {
   min-width: 20rem;
   margin-bottom: 1.5rem;
   padding: .5rem;
   // border: 1px solid $color-lightgrey;
   border-radius: .5rem;
}

.or-container {
   display: flex;
   align-items: center;
   color: $color-black;
}



