.login-section__content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   max-width: 95rem;
}

.msg-header {
   margin-bottom: 1.5rem;

   &--error {
      color: $color-primary;
   }

   &--success {
      color: rgb(0, 172, 0);
   }
   &__icon {
      margin-right: 1rem;
   }
}