.product {

   &__header {
      padding: 2rem 0;
   }

   &__main {
      display: flex;
   }
}

.product-header {

   &__title {
      border-bottom:  1px solid $color-lightgrey;
   }
   
   &__info-box {
      max-width: 50rem;
      display: flex;
      justify-content: space-between;
   }
}


.product-gallery {
   &__box {
      width: 50%;
      margin-right: 3rem;
   }

   &__img-wrap {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid $color-lightgrey;
      border-radius: 1rem;
      background-color: white;
      margin-bottom: 1rem;

   }

   &__img-inner-wrap {}

   &__main-img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 50rem;
      padding: 3rem;
   }



   &__thumbs-box {
      display: flex;

   }

   &__thumb-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid $color-lightgrey;
      border-radius: .8rem;
      max-width: 8rem;
      max-height: 8rem;
      transition: border-color .25s;

      &:not(:last-child) {
         margin-right: 1rem;
      }

      &:hover {
         border-color: $color-black;
         cursor: pointer;
      }
   }

   

   &__inner-thumb-wrap {
      display: flex;
      align-items: center;
      margin: .8rem;
   }

   &__thumb-img {
      width: 100%;
   }
}


.product-info {
   &__box {
      // background-color: lightskyblue;
      width: 50%;
   }

   &__nav-tabs {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-bottom: 2rem;

   }

   &__nav-item {
      cursor: pointer;
      transition: color .25s;

      &:hover {
         color: $color-black;
      }

      &:after {
         display:block;
         content: '';
         border-bottom: solid 2px $color-primary;  
         transform: scaleX(0);  
         transition: transform .25s ease-in-out;
      }

      &:hover:after {
         transform: scaleX(1);
      }

      &--active {
         color: $color-black;
         &:after {
            transform: scaleX(1);  

         }
      }
      
   }

   &__nav-title {
      text-transform: uppercase;
      font-size: $font-size-primary;
      font-weight: $font-weight-bold;
      color: inherit;
   }

   &__nav-content {

   }

// =====================================

   &__description {
      color: $color-black;
   }

   &__description-p {

   }

// =====================================

   &__user-review-box {
      margin: 2rem 0;
      color: $color-black;
      // background-color: lightpink;
   }

   &__review-wrap {
      display: flex;
      align-items: center;
   }

   &__review-stars {
      margin-right: 1.5rem;
   }

   &__review-icon {
      color: $color-primary;

   }

   &__review-text {

   }

   &__review-count {
      font-weight: 500;
   }

   &__user-action-box {
      height: 10rem;
      background-color: lightgreen;

   }

}