.results-section {
   &__main {
    
   }

   &__main-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 27rem);
      grid-template-rows: minmax(0, 48rem);
      grid-auto-rows: minmax(0, 48rem);
      gap: 1.5rem;
      margin-bottom: 1rem;
      justify-content: center;

      @media only screen and (max-width: 470px) {
         grid-template-columns: repeat(auto-fit, 35rem);
      }
   }

   &__footer {
      // grid-column: main-start / main-end;
      display: flex;
      justify-content: center;
      align-items: top;
      width: 100%;    
   }

   &__item-count {
      color: $color-black;
      font-size: $font-size-sm;
   }

   &__page-buttons {
      display: flex;
      justify-content: space-between;
   }

   &__page-btn {
      font-weight: 300;

      & i {
         font-size: $font-size-lg;
      }

      &--prev {
         flex-direction: row-reverse;

         & i {
            margin-right: .5rem;
         }
      }

      &--next {
         margin-left: 2.5rem;

         & i {
            margin-left: .5rem;
         }
      }
   }
}