.header-notice {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 0;
   width: 100%;
   background-color: rgb(144, 224, 248);
   border-bottom: 1px solid $color-grey;
   transition: height .5s;
   overflow: hidden;
   color: $color-black;

   &__content {
      display: flex;
      align-items: center;
   }

   &__close-icon {
      margin-left: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
      transition: color .25s ease;

      &:hover {
         color: $color-primary;
      }
   }
}

.main-header {
   padding-top: 2rem;
   background-color: $color-lightergrey;
   // background: linear-gradient(to left, #e0e0e0, #ffffff);
   background-image: url('../../img/white_brick_wall_dark.png');

}

.top-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 2.5rem;
   padding-right: 2.5rem;

   @media only screen and (max-width: $bp-smd) {
      flex-wrap: wrap;
      justify-content: center;
   }
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
   
   height: 12rem;
   flex-basis: 25%;

   @media only screen and (max-width: $bp-smd) {
      height: 16rem;
      flex-basis: 100%;
   }

   &__link {
      height: 100%;
   }

   &__img {
      height: 95%;
      object-fit: contain;
   }
}

.search-form {
   display: flex;
   justify-content: center;
   flex-basis: 45%;

   border: 2px solid $color-grey;
   border-radius: 4rem;
   background-color: $color-white;

   @media only screen and (max-width: $bp-lmd) {
      flex-basis: 100%;
      margin-left: 3rem;
   }

   @media only screen and (max-width: $bp-smd) {
      margin-left: 0;
      margin-bottom: 3rem;
   }

   &__input {
      flex-grow: 1;
      font-size: inherit;
      font-family: inherit;
      border-radius: 4rem;
      border: none;
      padding: 1rem 1.5rem;
      background-color: $color-white !important;
   }

   &__btn {
      &:hover {
         background-color: $color-primary;
      }
   }

   &__icon {
      font-size: 1.8rem;
      margin-right: .5rem;
   }
}

.phone-support {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-basis: 25%;
   color: $color-black;

   @media only screen and (max-width: $bp-lmd) {
      display: none;
   }

   &__icon {
      font-size: 3.5rem;
      margin-right: 1rem;
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__question {
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-primary;
   }
}

