.site-header {}

.header-notice {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 4rem;
   width: 100%;
   background-color: $color-lightergrey;
   border-bottom: 1px solid $color-lightgrey;

   &__alert-icon {
      color: $color-primary;
      font-size: 2rem;
      margin-right: .5rem;
   }

   &__content {
      display: flex;
      align-items: center;
   }

   &__close-icon {
      margin-left: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
   }
}

.full-header {}

.top-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 12rem;
}

.logo {
   display: flex;
   align-items: center;
   
   height: 100%;
   flex-basis: 25%;

   &__img {
      max-width: 100%;
      max-height: 100%;
   }
}

.search-form {
   display: flex;
   justify-content: center;
   flex-basis: 45%;

   border: 2px solid lightgrey;
   border-radius: 4rem;


   &__input {
      flex-grow: 1;
      font-size: inherit;
      font-family: inherit;
      border-radius: 4rem;
      border: none;
      padding: 1rem 1.5rem;
      background-color: $color-white;
   }

   &__btn {
      &:hover {
         background-color: $color-primary;
      }
   }

   &__icon {
      font-size: 1.5rem;
      margin-right: .5rem;
   }
}

.phone-support {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-basis: 25%;

   color: $color-black;

   &__icon {
      font-size: 3.5rem;
      margin-right: 1rem;
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__question {
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-primary;
   }

   &__number {}
}

