.container {
   max-width: 150rem;
   padding: 0 4rem;
   margin: 0 auto;

}

.main {
   position: relative;
}

.shadow-overlay {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 90;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}