.nav-bar {
   display: flex;
   border-bottom: 1px solid $color-darkgrey;
   background-color: $color-primary;
   height: 6rem;

   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
   }   

   &__left {
      display: flex;
   }
}

.nav {
   display: flex;
   align-items: center;
   list-style: none;
   margin-left: -7rem;

   @media only screen and (max-width: $bp-xxl) {
      margin-left: -6rem;
   }

   @media only screen and (max-width: $bp-lg) {
      margin-left: -16rem;
   }

   @media only screen and (max-width: $bp-sm) {
      display: none;
   }
   
   &__item {
      position: relative;

      @media only screen and (max-width: $bp-xxl) {
         &:not(:last-child) {
            margin-right: 2rem;
         }
      }

      @media only screen and (max-width: $bp-lg) {
         &:first-child {
            display: none;
         }
      }
   }

   &__link {
      font-weight: 500;

      &:hover {
         background-color: $color-black;
      }

      @media only screen and (max-width: $bp-xxl) {
         padding: 0;
         background-color: $color-primary !important;
      }
   }
}

.account-cart-wrapper {
   position: relative;
   display: flex;
   align-items: center;
}

.login-btn {
   font-weight: 300;
   margin-right: 1rem;

   &__icon {
      font-size: 2.4rem;
      margin-right: 1rem;

      @media only screen and (max-width: $bp-md) {
         margin: 0;
      }

      @media only screen and (max-width: $bp-sm) {
         margin-right: 1rem;
      }
   }

   &__text {
      @media only screen and (max-width: $bp-md) {
         display: none;
      }

      @media only screen and (max-width: $bp-sm) {
         display: block;
      }
   }
}

.register-btn {
   font-weight: 300;
   margin-right: 2rem;

   &__icon {
      font-size: 2.4rem;
      margin-right: 1rem;

      @media only screen and (max-width: $bp-md) {
         margin: 0;
      }

      @media only screen and (max-width: $bp-sm) {
         margin-right: 1rem;
      }

      @media only screen and (max-width: $bp-xxs) {
         margin: 0;
      }
   }

   &__text {
      @media only screen and (max-width: $bp-md) {
         display: none;
      }

      @media only screen and (max-width: $bp-sm) {
         display: block;
      }

      @media only screen and (max-width: $bp-xxs) {
         display: none;
      }
   }
}

.account-btn {
   font-weight: 300;
   margin-right: 2rem;

   @media only screen and (max-width: $bp-smd) {
      margin-right: 1.5rem;
   }

   &__icon {
      font-size: 2.4rem;
      margin-right: 1rem;
   }

   &__firstname {
      font-weight: 500;
   }
}

.cart-link {
   position: relative;

   display: flex;
   align-items: center;

   font-size: 2rem;
   font-weight: 500;
   color: white;
   cursor: pointer;

   &__icon {
      font-size: 3.5rem;
   }

   &__counter {
      display: flex;
      align-items: center;
      justify-content: center;
      
      position: absolute;
      top: -5px;
      right: -5px;

      width: 1.8rem;
      height: 1.8rem;
      background-color: $color-black;
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: 300;
   }
}