.nav-menu-bar {
   display: flex;
   
   background-color: $color-primary;
   height: 6rem;


   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;

   }   
}

.top-menu {
   display: flex;
   align-items: center;
   list-style: none;

   &__item {
      position: relative;

      &--1 {
         margin-right: 2rem;
         text-transform: uppercase;
      }
   }
   &__link {
      font-weight: 500;

      &:hover {
         background-color: $color-black;
      }
   }

   &__icon {
      margin-right: 1.5rem;
      font-size: 2rem;
   }
}

.shadow-overlay {
   height: 100vh;
   width: 100vw;
   z-index: 90;

   background-color: rgba(0, 0, 0, 0.15);
}

.dropdown-menu {
   position: absolute;
   top: 5.05rem;
   border: 2px solid $color-lightgrey;
   border-radius: .8rem;
   width: 100%;
   z-index: 100;
   padding: 1rem 0;
   
   background-color: $color-white;

   &::before {
      position: absolute;
      top: -1.4rem;
      left: 2rem;
      height: 1.5rem;


      font-family: FontAwesome;
      content: "\f0de";
      font-size: 3rem;
      color: $color-white;
   }
   
   &__list {
      list-style: none;

      & li:not(:last-child):after  {
         border-bottom: 1px solid #e5e5e5;
         position: absolute;
         left: 0;
         right: 0;
         width: 90%;
         content: "";
         bottom: 0;
         margin: 0 auto;
      }
   }

   &__item {
      position: relative;
      text-transform: none;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;

      &:hover {
         color: black;
         & .dropdown-menu__icon {
            transform: rotate(-90deg);

         }
      }   
   }

   &__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 1.5rem;
      text-decoration: none;

   }

   &__title {

   }

   &__icon {
      transition: transform .3s;
   }
}

.dropdown-submenu {
   position: absolute;
   left: 100%;
   top: 0;

   border: 2px solid $color-lightgrey;
   border-radius: .8rem;
   z-index: 100;
   
   background-color: $color-white;
   
}

.account-cart-wrapper {
   display: flex;
   align-items: center;
}

.my-account {
   font-weight: 300;
   margin-right: 3rem;

   &__icon {
      font-size: 2rem;
      margin-right: 1rem;
   }
}

.cart {
   position: relative;

   display: flex;
   align-items: center;

   font-size: 2rem;
   font-weight: 500;
   color: white;

   &__icon {
      font-size: 3.5rem;
   }

   &__counter {
      display: flex;
      align-items: center;
      justify-content: center;
      
      position: absolute;
      top: 0;
      right: -1rem;

      width: 1.8rem;
      height: 1.8rem;
      background-color: $color-black;
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: 300;
   }
}