.btn {
   display: flex !important;
   align-items: center;
   justify-content: center;


   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   color: white;
   text-decoration: none;
   
   border: none;
   border-radius: 4rem;
   display: inline-block;
   padding: .8rem 2.2rem;

   transition: background-color .2s;
   cursor: pointer;

   &--small {
      font-size: 1.2rem;
      border-radius: .5rem;
      padding: .6rem 1rem;


   }
   
   &--black {
      background-color: $color-black;
   }

   &--red {
      background-color: $color-primary;
   }
}