.btn {
   
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   text-decoration: none;
   border-radius: 4rem;
   display: inline-block;

   border: none;
   cursor: pointer;

   background-color: black;
   color: white;

   padding: .8rem 2.2rem;

   
}