.form {
   display: flex;
   flex-wrap: wrap;  
   margin: -1.5rem;
   font-size: $font-size-lg;

   &__section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: $color-white;
      padding: 3rem;
      margin: 1.5rem;
      border: 2px solid $color-lightgrey;
      border-radius: 1rem;
   }

   &__sub-section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -1.5rem;

      & .form__inputs-wrap:first-of-type {
         & .form__input-wrap:last-of-type {
            margin-bottom: 0;
         }
      }
   }

   &__title {
      text-align: center;
      margin-bottom: 2.5rem;
      color: $color-black;
   }

   &__inputs-wrap {
      display: flex;
      flex-direction: column;
      margin: 1.5rem;
   }

   &__input-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
   }

   &__input-label {
      white-space: wrap;
   }

   &__input {
      padding: .5rem;
      // border-radius: .5rem;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      width: 25rem;
      border: none;
      border-bottom: 1px solid $color-darkgrey;

      &:focus {
         ~ .form__input-label {
            font-size: 3rem;
         }
      }
   }

   &__btn {
      margin-top: 1.5rem;
   }
}