.main-menu {
   display: flex;
   position: relative;
   height: 4rem;
   width: 30rem;

   @media only screen and (max-width: $bp-sm) {
      width: auto;
   }

   &__btn {
      text-transform: uppercase;
   }

   &__icon {
      margin-right: 1.5rem;
      font-size: 2rem;

      &:nth-child(2) {
         display: none;
      }

      @media only screen and (max-width: $bp-sm) {
         margin-right: 0;
      }
   }

   &__btn-text {
      &--2 {
         display:none;
      }

      @media only screen and (max-width: $bp-lg) {
         &--1 {
            display: none;
         }

         &--2 {
            display: block;
         }
      }

      @media only screen and (max-width: $bp-sm) {
         &--2 {
            display: none;
         }
      }
   }

   &__dropdown {
      position: absolute;
      top: 5rem;
      border: 1px solid $color-lightgrey;
      border-radius: .8rem;
      width: 100%;
      z-index: 100;
      background-color: $color-white;
      transition: height .35s ease-in-out;
      overflow: hidden;
      height: 0;
      display: none;

      

      &::before {
         position: absolute;
         top: -1.4rem;
         left: 2rem;
         height: 1.5rem;
         font-family: FontAwesome;
         content: "\f0de";
         font-size: 3rem;
         color: $color-white;

         @media (hover:none) and (max-width: $bp-smd) {
            display: none;
         }
      }

      @media (hover:none) and (max-width: $bp-smd) {
         position: fixed;
         top: 0;
         left: 0;
         max-width: 50%;
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
      }

      @media (hover:none) and (max-width: $bp-sm) {
         max-width: 60%;
      }

      @media (hover:none) and (max-width: $bp-xs) {
         max-width: 70%;
      }

      @media (hover:none) and (max-width: $bp-xxs) {
         max-width: 80%;
      }
   }

   &__dropdown.is-visible {
      display: block;
      height: auto;
   }

   &__list {
      list-style: none;
      padding: 1rem 0;
      height: 100%;

      @media (hover:none) and (max-width: $bp-smd) {
         overflow-y: scroll;
         -ms-overflow-style: none;

         &::-webkit-scrollbar {
            display: none;
         }
      }
      


      & > li:not(:last-child):after  {
         border-bottom: 1px solid #e5e5e5;
         position: absolute;
         left: 0;
         right: 0;
         width: 90%;
         content: "";
         bottom: 0;
         margin: 0 auto;
      }

      & > .main-menu__item:hover > .submenu {
         display: block;
      }
   }


   
   &__header {
      display: none;

      @media (hover:none) and (max-width: $bp-smd) {
         display: flex;
         align-items: center;
         justify-content: space-between;
         border-bottom: 1rem solid $color-lightergrey;
         padding: 1.2rem 1.8rem 1.2rem .5rem;
         margin-bottom: 1rem;
         color: black;
         font-size: 2.2rem;
         color: $color-primary;
      }
   }

   &__header-text {
      font-weight: $font-weight-bold;
      line-height: 1.5rem;
   }

   &__header-icon {
      font-size: 2.5rem;
      color: $color-darkgrey;
   }

   &__item {
      position: relative;
      text-transform: none;
      width: 100%;
      font-size: $font-size-primary;
      font-weight: 500;

      &:hover {
         color: black;
         & .main-menu__item-arrow {
            transform: rotate(-90deg);
         }

         & .main-menu__item-icon {
            color: $color-primary;
         }
      }
      
      @media (hover:none) and (max-width: $bp-smd) {
         font-size: $font-size-lg;
         line-height: 2.2rem;
      }
   }

   &__link {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1.2rem 1.8rem;
      text-decoration: none;

      @media (hover:none) and (max-width: $bp-smd) {
         padding: 1.6rem 1.8rem;

      }
   }

   &__item-icon {
      margin-right: 1.5rem;
      width: 1.75rem;
      transition: color .15s ease;

   }

   &__title {
      margin-right: auto;
      transition: color .15s ease;
   }

   &__item-arrow {
      transition: transform .3s;

      @media (max-width: $bp-smd) {
         transform: rotate(-90deg);
      }

      &--down {
         transform: rotate(0deg);
      }
   }
}

