.prom-primary {
   position: absolute;
   top: 5%;
   right: 3%;
   max-width: 35rem;
   
   &__subtitle {
      color: $color-black;
      margin-bottom: 1.5rem;
   }

   &__button {
      max-width: 13rem;

      &:hover {
         background-color: $color-primary;
      }
   }
}



