<% include ../partials/head %>
<% include ../partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">

      <section class="results">
         <div class="results__sidebar">
            Sidebar
         </div>
         <div class="results__header">
            Header
         </div>
         <div class="results__main">
            <div class="results__main-grid">
               <div class="product-grid-item">
                  One
               </div>
               <div class="product-grid-item">
                  Two
               </div>
               <div class="product-grid-item">
                  Three
               </div>
               <div class="product-grid-item">
                  Four
               </div>
               <div class="product-grid-item">
                  Five
               </div>

            </div>

         </div>

    
         
      </section>

   </div>
</main>



<% include ../partials/footer %>
