<% include ../partials/head %>
<% include ../partials/header-notice %>

<% include ../partials/header %>

<main class="main">
   <div class="shadow-overlay"></div>

   <div class="container">
      <section class="register-section">
         <div class="page-header">
            <h1 class="page-header__title">Register</h1>
         </div>

         <% if (typeof errorMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--error"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= errorMsg %></h3>
         <% } %>
   
         <% if (typeof successMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--success"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= successMsg %></h3>
         <% } %>

         <div class="register-section__content">

            <form class="form" method="POST" action="/accounts">
               <div class="form__section">
                  <h2 class="form__title">New Account Information</h2>
                  <div class="form__sub-section">
                     <div class="form__inputs-wrap">

                        <div class="form__input-wrap">
                           <label class="form__input-label" for="firstName">First Name</label>
                           <input type="text" class="form__input" name="firstName" required>
                        </div>

                        <div class="form__input-wrap">
                           <label class="form__input-label" for="lastName">Last Name</label>
                           <input type="text" class="form__input" name="lastName" required>

                        </div>
                        <div class="form__input-wrap">
                           <label class="form__input-label" for="username">Email Address</label>
                           <input type="email" class="form__input" name="newUsername" required>
                        </div>
         
                     </div>

                     <div class="form__inputs-wrap">

                        <div class="form__input-wrap">
                           <label class="form__input-label" for="password">Password</label>
                           <input type="password" class="form__input" name="newPassword" required>
                        </div>
                        <div class="form__input-wrap">
                           <label class="form__input-label" for="confirmPassword">Confirm Password</label>
                           <input type="password" class="form__input" name="confirmPassword" required>
                        </div>
                        
                        <input type="submit" class="form__btn btn btn--red btn--hover-float" value="Create Account">

                     </div>
                  </div>
                     
               </div>
            </form>

         </div>

      </section>
   </div>
</main>


<% include ../partials/footer %>