<% include ../partials/head %>
<% include ../partials/header-notice %>

<% include ../partials/header %>

<main class="main">
   <div class="shadow-overlay">
   </div>

   <div class="container">
      <section class="login-section">
         <div class="page-header">
            <h1 class="page-header__title">Account</h1>
         </div>

         <h3 class="msg-header msg-header--error"></h3>
         <h3 class="msg-header msg-header">Please login to your account.</h3>


         <div class="login-section__content">

            <form class="form">
               <div class="form__section">
                  <h2 class="form__title">Login</h2>

                  <div class="form__inputs-wrap">
                     <div class="form__input-wrap">
                        <label class="form__input-label" for="username">Email Address</label>
                        <input type="email" class="form__input login-username" name="username">
                     </div>
                     
   
                     <div class="form__input-wrap">
                        <label class="form__input-label" for="password">Password</label>
                        <input type="password" class="form__input login-password" name="password">
                     </div>
                     
                     <input type="submit" class="account-login-btn form__btn btn btn--red btn--hover-float" value="Login">
                  </div>
               </div>
            </form>

         </div>
      </section>
   </div>
</main>


<% include ../partials/footer %>