*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; // 1rem = 10px

   @include respond(tab-lg) {
      font-size: 56.25%; // 1rem = 9px
   }

   @include respond(tab-md) {
      font-size: 50%; // 1rem = 8px
   }

   @include respond(tab-sm) {
      font-size: 46.875%; // 1rem = 7.5px
   }
}

body {
   position: relative;
    box-sizing: border-box;
    margin: auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   transition: background-color 5000s ease-in-out 0s;
}
   