*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; // 10px
}

body {
    box-sizing: border-box;
    margin: auto;
}