body {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   color: $font-color-primary;
   font-size: $font-size-primary;
   line-height: normal;
}

.prom-head-primary {
   font-size: 3rem;
   font-weight: 300; 
   color: $color-primary;
}

.prom-head-secondary {
   font-size: 2.2rem;
   font-weight: 500;
   color: $color-black;
}

.paragraph {
   font-weight: 700;
   font-size: 3rem;
}