body {
   font-family: 'Poppins', sans-serif;
   font-weight: $font-weight-primary;
   color: $color-darkgrey;
   font-size: $font-size-primary;
   line-height: normal;
}

.prom-head-primary {
   font-size: $font-size-xxl;
   font-weight:  $font-weight-thin; 
   color: $color-primary;
}

.prom-head-secondary {
   font-size: 2.2rem;
   font-weight: $font-weight-bold;
   color: $color-black;
}

.paragraph {
   font-weight: $font-weight-bold;
   font-size: $font-size-xxl;
}

.page-header {
   margin-bottom: 2rem;
   border-bottom: 3px solid $color-lightgrey;
   
   &__title {
      font-size: $font-size-xxl;
      color: $color-black;
   }
}

.product-header {
   &__title {
      font-size: $font-size-xxl;
      font-weight: $font-weight-primary;
      color: $color-black; 
   }

   &__subtitle {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      color: $color-black;
   }
}

