// COLORS
      $color-primary: #EB2F38;
      $color-secondary: #6B151A;
      $color-tertiary: #EE777D;
      $color-black: rgb(61, 61, 61);
      $color-white: #FFF;
      $color-darkgrey: rgb(122, 122, 122);
      $color-lightgrey: #cecece;
      $color-lightergrey: #ececec;

// SIZE
   //FONT
      $font-size-primary: 1.6rem;