// COLORS
   //FONT
      $color-primary: #EB2F38;
      $color-secondary: #6B151A;
      $color-tertiary: #EE777D;
      $color-black: #000;
      $color-white: #FFF;
      $font-color-primary: rgba(105, 105, 115, 1);
   
   //BACKGROUNDS
      $background-color-lightgrey: #e7e7e7;

// SIZE
   //FONT
      $font-size-primary: 1.6rem;