// COLORS
   $color-primary: #EB2F38;
   $color-secondary: rgb(235, 80, 80);
   $color-black: rgb(61, 61, 61);
   $color-white: #FFF;
   $color-darkgrey: rgb(122, 122, 122);
   $color-grey: rgb(182, 182, 182);
   $color-lightgrey: #cecece;
   $color-lightergrey: #ececec;


//FONT
   $font-size-primary: 1.6rem;
   $font-size-xxs: 1.2rem;
   $font-size-xs: 1.3rem;
   $font-size-sm: 1.4rem;
   $font-size-lg: 1.8rem;
   $font-size-xl: 2rem;
   $font-size-xxl: 3rem;
   $font-size-xxxl: 4rem;

   $font-weight-primary: 400;
   $font-weight-bold: 500;
   $font-weight-thin: 300;